<ul class="list-inline">
    <li class="list-inline-item">
        <a 
            href="http://facebook.com/toomanydaves.net"
            target="_blank"
        ><i class="icon-facebook"></i></a>
    </li>
    {% if request.user.is_authenticated %}
    <li class="list-inline-item">
        <a
            class="dropdown-toggle"
            data-toggle="dropdown"
            href="#"
            role="button"
            aria-haspopup="true"
            aria-expanded="false"
        >{{ user.first_name }}</a>
        <div class="dropdown-menu dropdown-menu-right">
            {% if user.is_staff %}
                <a class="dropdown-item" href="/admin">Admin</a>
            {% endif %}
            <a class="dropdown-item" href="/network/dashboard">Dashboard</a>
            <a class="dropdown-item" href="/logout">Log out</a>
        </div>
    </li>
    {% else %}
    <li class="list-inline-item">
        <a 
            class="btn btn-sm btn-outline-primary"
            role="button"
            href="/engage"
        >
            <span>Join</span>
        </a>
    </li>
    {% endif %}
</ul>
