<div class="container pt-2 mb-2">
    <div class="row justify-content-lg-center">
        <div class="col-12 col-lg-8">
            <section>
                <h3>
                    <a
                        href="#"
                        class="tooltip-target"
                        data-toggle="tooltip"
                        data-placement="top"
                        data-html="true"
                        title="<span><em>Program or Be Programed</em>, is the title of a wonderful
                        pamphlet of a book by Douglas Rushkoff making the case that,
                        &quot;Choose the former, and you gain access to the control panel
                        of civilization. Choose the later, and it could be the last real
                        choice you get to make.&quot;
                        He's talking about writing software, but it could just as easily
                        be applied to being active creatively and sharing work in general.
                        </span>"
                    >Program or Be Programmed</a>
                </h3>
                <p>
                    In addition to a portfolio of projects,
                    <small class="text-uppercase">Too Many Daves</small>
                    is intended to be a network and forum,
                    <a href="/portfolio/toomanydaves"> a project itself</a>,
                    devoted to creativity.
                    In this respect, it is still in its infancy;
                    in fact it's literally just crossed that
                    most crucial threshold of existence
                    <span class="long-dash-before long-dash-after">
                        it's come into the world
                    </span>
                    or as the case may be, the World Wide Web.
                    I can't predict where it will go from here, but
                    hey, it has you reading about it, and really, how exciting!
                </p>
                <p>
                    And should you be enamoured with what you see,
                    please don't hesitate to join in,
                    to contribute a verse.
                    Even though it's still very much my baby,
                    <small class="text-uppercase">Too Many Daves</small>
                    was always meant to exist apart from me,
                    with room to accomodate anyone who wants to stand with me
                    for self-expression, creativity, tolerance and wonder.
                </p>
                <p>
                    So thanks very much for hearing me out!
                </p>
                <p>
                    If you haven't already,
                    <a href="/engage">I do sincerely hope you'll join me in this endeavor</a>.
                </p>
            </section>
        </div>
    </div>
</div>
