<div class="container mb-3">
    <div class="row justify-content-lg-center">
        <div class="col-12 col-lg-8">
            <section>
                <p>
                    <span class="lead"><small class="text-uppercase">Too Many Daves!</small>
                    has its origins</span>
                    twenty years ago and nearly half a world away at Habibi's Hutch,
                    <a
                        href="http://www.habibishutch.com/"
                        target="_blank"
                    >a wonderful preschool in Austin, TX</a>,
                    where I had the good fortune to first encounter
                    <a href="/poem">the little-known poem</a>.
                </p>
                <p>
                    It didn't take more than a couple times reading it aloud
                    <span class="long-dash-before long-dash-after">
                        and the immediate sound of little ones' laughter
                    </span>
                    to notice something special in its text.
                    As I've followed along my path,
                    its message has stayed with me,
                    providing inspiration along the way.
                </p>
                <p>
                    That way, which began teaching children,
                    eventually lead out of the classroom
                    and to the following projects:
                </p>
            </section>
        </div>
    </div>
</div>
