<div class="container mt-5 mb-5 text-serif">
    <div class="row justify-content-lg-center">
        <div class="col-12 col-lg-8">
            <section>
                <p>
                    <span class="lead">
                        20 years ago and half a world away
                    </span>
                    at Habibi's Hutch,
                    <a
                        href="http://www.habibishutch.com/"
                        target="_blank"
                    >a wonderful preschool in Austin, TX</a>,
                    I had the good fortune to first encounter
                    <a href="/poem">the relatively obscure poem</a>
                    with the name
                    <small class="text-uppercase">Too Many Daves</small>.
                </p>
                <p>
                    It took a couple times reading it aloud
                    <span class="long-dash-before long-dash-after">
                        and the repeated sound of little ones' laughter
                    </span>
                    until I got the message, and that has
                    <a
                        class="tooltip-target"
                        href="#"
                        data-toggle="tooltip"
                        data-placement="top"
                        data-html="true"
                        title="Both figurately and literally: 
                        a tatoo with the name of the poem has
                        adorn the inside of my right forearm 
                        for the last ten years"
                    >stayed with me ever since</a>.
                    As I've followed along my path,
                    it's provided guidance on the way.
                </p>
                <p>
                    That way, which went through the poem and brought me here,
                    eventually lead out of the classroom,
                    across the world,
                    back to school to study,
                    back to the classroom to teach,
                    then off to work as a software developer,
                    and eventually to the creation of the following projects:
                </p>
            </section>
        </div>
    </div>
</div>
