<div class="container mt-3">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-6">
            <div class="jumbotron text-dark school-in-the-cloud">
                <section>
                    <h3>School in the Cloud</h3>
                    <p><span class="bg-white">The thoughtful and creative integration
                        of 21st century technology
                        has boundless potential to
                        democratize and enliven educational opportunities.
                        I was already living in Europe
                        when I set myself to the task of learning to code in earnest.
                        I wanted to focus on writing educational software.
                    </span></p>
                    <p><span class="bg-white">
                        What ultimately resulted is
                        <a href="/schoolinthecloud">School in the Cloud</a>.
                    </span></p>
                </section>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-6">
            <div class="jumbotron text-dark you-better">
                <section>
                    <h3>You Better</h3>
                    <p><span class="bg-white">
                        The birth of my two sons
                        has taught me a lot about the person I want to be
                        and what I want to accomplish.
                        As my thoughts have turned more existential,
                        I've turned my development skills to
                        an app to help me, and whoever else,
                        set and reach personal goals.
                    </span></p>
                    <p><span class="bg-white">
                        <a
                            class="tooltip-target"
                            href="#tooltip-title"
                            data-toggle="tooltip"
                            data-placement="top"
                            data-html="true"
                            title="<em>This Little Light of Mine</em>,
                            a gospel song and Civil Rights anthem
                            still sung daily in churches
                            and schoolhouses across the US
                            instructs, &quot;The light that shines is the light of love /
                            It hides the darkness from above /
                            Shines on me and it shines on you /
                            Shows you what the power of love can do,&quot
                            as it urges its singers to let their own lights shine
                            &quot;bright and clear,&quot; &quot;far and near,&quot;
                            and &quot;in every dark corner.&quot;</span>"
                        >To let it shine!</a>
                    </span></p>
                    <p><span class="bg-white">
                        This is <a href="/youbetter">You Better</a>.
                    </span></p>
                </section>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 col-lg-6">
            <div class="jumbotron text-dark lebenskunst">
                <section>
                    <h3>Lebenskunst</h3>
                    <p><span class="bg-white">
                        When I was in Austin,
                        and previously and afterwards in New York,
                        as well as a teacher, I'd been a student myself.
                        <span class="long-dash-after">I learned how to draft,
                        weld, solder glass and work with wood</span>
                        I began making things in earnest.
                    </span></p>
                    <p><span class="bg-white">
                        In the intervening years,
                        I've met many fellow artists, makers and designers
                        working in a variety of contexts.
                        <span class="long-dash-after">
                            And over time, I realized 
                            something that I needed to create for myself
                            and these like-minded folks
                        </span>
                        a platform where works of art can be curated
                        and past on to others in a way both sustainable for
                        the artists, designers and makers,
                        as well as affordable for everyday folks
                        looking for authentic goods.
                    </span></p>
                    <p><span class="bg-white">
                        This is <a href="/lebenskunst">Lebenskunst</a>.
                    </span></p>
                </section>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-6">
            <section>
                <h1>3 Projects</h1>
                <h3>One Life's Ongoing Work</h3>
                <p>
                    These endeavors represent who I am, have been,
                    and what I would like to accomplish.
                    Around them, I've created a portfolio
                    with space to collect other noteable works that similarly reflect
                    the spirit of <small class="text-uppercase">Too Many Daves!</small>.
                </p>
                <p>
                    Some of these are done in collaboration.
                    Most just known to <small class="text-uppercase">Too Many Daves!</small> as
                    worthy of admiration.
                    All in various stages of realization.
                </p>
                <p>
                    All, I'd submit, worthy of your attention.
                </p>
            </section>
        </div>
    </div>
</div>
