{% extends "toomanydaves/base.html" %}

{% load static %}

{% block title %}People{% endblock %}

{% block style %}
    <style>
        #bg {
            background: url("{% static "/images/tile-bg.png" %}");
        }
    </style>
{% endblock %}

{% block nav %}
    {% include "toomanydaves/nav.html" %}
{% endblock %}

{% block content %}
    <div style="width: 100%; padding: 3rem;">
        <div style="width: 100%; height: 600px;  background-color: #76c58c;"></div>
    </div>
    <div id="people" class="container">
        <div class="row">
            {% for person in people_list %}
                <div class="col-12">
                    <h4>
                        <a href="/people/{{ person.id }}">{{ person }}</a>
                    </h4>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
