{% extends "toomanydaves/base.html" %}

{% block title %}People{% endblock %}

{% block nav %}
    {% include "toomanydaves/nav.html" %}
{% endblock %}

{% block content %}
    <div id="people" class="container">
        <div class="row">
            {% for person in people_list %}
                <div class="col-12">
                    <h4>
                        <a href="/people/{{ person.id }}">{{ person }}</a>
                    </h4>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
