{% extends "toomanydaves/base.html" %}

{% block title %}{{ user.first_name }}{% endblock %}

{% block style %}
<style>
.nav-tabs {
    margin-bottom: 1rem;
}
</style>
{% endblock %}

{% block content %}
<div id="user-page">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <ul id="user-page-tabs" class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a
                            id="profile-tab"
                            class="nav-link active"
                            data-toggle="tab"
                            href="#profile"
                            role="tab"
                            aria-controls="Profile"
                        >Profile</a>
                    </li>
                    <li class="nav-item">
                        <a
                            id="project-work-tab"
                            class="nav-link"
                            data-toggle="tab"
                            href="#project-work"
                            role="tab"
                            aria-controls="project-work"
                        >Work on a Project</a>
                    </li>
                    <li class="nav-item">
                        <a
                            id="donations-tab"
                            class="nav-link"
                            data-toggle="tab"
                            href="#donations"
                            role="tab"
                            aria-controls="donations"
                        >Donations</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="user-page-tab-content" class="tab-content">
        <div
            id="profile"
            class="tab-pane fade show active"
            role="tabpanel"
            aria-labelledby="profile-tab"
        >
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-9 text-sans-serif-headings">
                        <h4>{{ user }}</h4>
                    </div>
                </div>
            </div>
        </div>
        {% include "toomanydaves/join_project-work.html" %}
        {% include "toomanydaves/join_donations.html" %}
    </div>
</div>
{% endblock %}
