<div id="home-about" class="pb-2">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h4 class="text-sans-serif">
                    What <small style="padding-right: 0.2rem;"><i class="text-uppercase">is</i></small>
                    <span style="
                        color: transparent;
                        text-transform: uppercase;
                        -webkit-text-stroke-width: 1px;
                        -webkit-text-stroke-color: #343A40;
                    ">Too Many Daves</span>?
                </h4>
            </div>
        </div>
    </div>
    {% include "toomanydaves/home/about/_carousel.html" %}
</div>
