<script>
    // TODO Workwith cookies to alter UX
    if ('{{ extended_appearance }}') { console.log('seen home'); }

    $(document).ready(function () {

        // Add scroll handlers on teaser sections that reveal image on bottom
        $('#portfolio-scroller').scroll(function () {
            console.log('portfolio scrolling');
        });

        var bgImages, portfolioBgs, postsBgs, peepsBgs;
        {% include "toomanydaves/home/animation/_bg-images.js" %}
        {% include "toomanydaves/home/animation/_portfolio-bgs.js" %}
        {% include "toomanydaves/home/animation/_posts-bgs.js" %}
        {% include "toomanydaves/home/animation/_peeps-bgs.js" %}
        var $centeredLogo = $('#centered-logo');
        var $claim = $centeredLogo.find('.logo-claim');
        var $teaser = $('#teaser');
        var bgImage = bgImages[Math.floor(Math.random() * bgImages.length)];
        var $body = $('body');

        $body
        .addClass('text-white')
        .css('background-image', bgImage.url);

        // Make sure the centered logo is visible
        $centeredLogo.css('visibility', 'visible');

        // Get the inline logo that isn't being displayed and position
        // it so that it can later fall into place.
        fallDown($('#inline-logo rect'), function () { }, '-260px');

        // Reveal the background squares of color
        window.setTimeout(function () {
            $teaser.velocity({ 'opacity': '1' }, 2000);
        }, 300);

        // Streak the letters of the center logo.
        window.setTimeout(function () {
            colorFlow($centeredLogo.find('g g'), function () { }, '0.0');
        }, 500);

        // Remove the GIF on body (leaves black)
        // after the appropriate duration
        window.setTimeout(function () {
            $body.css('background-image', 'none');
            // Hide claim and change to text-dark
            $claim.removeClass('text-white');
            $claim.children().css('visibility', 'hidden');
        }, bgImage.duration);

        // Once the GIF is gone...
        window.setTimeout(function () {
            // Fade in white bg on body
            $body
            .removeClass('text-white')
            .addClass('text-dark')
            .velocity({'background-color': '#e3e3e3'}, 500, function () {
                // Show wallpaper
                $('#bg').addClass('wallpaper-bg');

                // Show a random Portfolio bg
                $teaser.find('#portfolio-photo-bg').attr(
                    'src',
                    portfolioBgs[Math.floor(portfolioBgs.length * Math.random())]
                );

                // Show "Think Big."
                $centeredLogo.find('.think-big').css('visibility', 'visible');

                window.setTimeout(function () {
                    var $startSmall = $centeredLogo.find('.start-small');
                    var $keepAtIt = $centeredLogo.find('.keep-at-it');

                    // Show a random Posts bg
                    $teaser.find('#posts-photo-bg').attr(
                        'src',
                        postsBgs[Math.floor(postsBgs.length * Math.random())]
                    );

                    // Show "Start Small"
                    $startSmall.css('visibility', 'visible');

                    window.setTimeout(function () {
                        // Show a random Peeps bg
                        $teaser.find('#peeps-photo-bg').attr(
                            'src',
                            peepsBgs[Math.floor(peepsBgs.length * Math.random())]
                        );

                        // Show "Keep at it."
                        $keepAtIt.css('visibility', 'visible');

                        // Collapse the centered logo
                        fallDown($centeredLogo.find(' rect'), function () {
                            // After the collapse...

                            // Show the PPP headings in teaser
                            $teaser.find('h1').velocity({ opacity: 1 }, 500);

                            // Hide the claim
                            $claim.velocity(
                                { opacity: 0 },
                                450
                            );

                            window.setTimeout(function () {
                                $centeredLogo.velocity(
                                    { height: 0 },
                                    450,
                                    function () {
                                        $('#inline-logo').css('display', 'block');
                                        $('nav .claim').removeClass('d-none');
                                        // Let the inline logo fall into place
                                        fallDown(
                                            $('#inline-logo rect'),
                                            function () {
                                                window.setTimeout(function () {
                                                    colorFlow(
                                                        $('#inline-logo g g')
                                                    );
                                                }, 5500);

                                                window.setTimeout(function () {
                                                    $teaser.find('#portfolio-photo-bg').velocity(
                                                        { 'opacity': 0 },
                                                        1200
                                                    );

                                                    // Show Portfolio content
                                                    $('#portfolio-body')
                                                    .css('display', 'block')
                                                    .velocity(
                                                        { 'opacity': 1 },
                                                        function () {
                                                            // Add scroll handlers on teaser sections that reveal image on bottom
                                                            $('#portfolio-scroller').scroll(function () {
                                                                if ($(this).scrollTop() > ($(this).find('.card-columns').height() - 50)) {
                                                                    $('#portfolio-photo-bg').css('opacity', 0.5);
                                                                } else {
                                                                    $('#portfolio-photo-bg').css('opacity', 0);
                                                                }
                                                            });
                                                        },
                                                        1200
                                                    );
                                                }, 650);

                                                window.setTimeout(function () {
                                                    $teaser.find('#posts-photo-bg').velocity(
                                                        { 'opacity': 0 },
                                                        1200
                                                    );

                                                    // Show Posts content
                                                    $('#posts-body')
                                                    .css('display', 'block')
                                                    .velocity(
                                                        { 'opacity': 1 },
                                                        function () {
                                                            // Add scroll handlers on teaser sections that reveal image on bottom
                                                            $('#posts-scroller').scroll(function () {
                                                                if ($(this).scrollTop() > ($(this).find('.card-columns').height() - 50)) {
                                                                    $('#posts-photo-bg').css('opacity', 0.5);
                                                                } else {
                                                                    $('#posts-photo-bg').css('opacity', 0);
                                                                }
                                                            });
                                                        },
                                                        1200
                                                    );
                                                }, 1600);

                                                window.setTimeout(function () {
                                                    $teaser.find('#peeps-photo-bg').velocity(
                                                        { 'opacity': 0 },
                                                        1200
                                                    );

                                                    // Show Peeps content
                                                    $('#peeps-body')
                                                    .css('display', 'block')
                                                    .velocity(
                                                        { 'opacity': 1 },
                                                        function () {
                                                            // Add scroll handlers on teaser sections that reveal image on bottom
                                                            $('#peeps-scroller').scroll(function () {
                                                                if ($(this).scrollTop() > ($(this).find('.card-columns').height() - 50)) {
                                                                    $('#peeps-photo-bg').css('opacity', 0.5);
                                                                } else {
                                                                    $('#peeps-photo-bg').css('opacity', 0);
                                                                }
                                                            });
                                                        },
                                                        1200
                                                    );
                                                }, 2400);
                                            },
                                            '0px',
                                            300
                                        );
                                    }
                                );
                            }, 500);
                        });
                    }, 700);
                }, 700);
            });
        }, bgImage.duration);
    });
</script>
