<script>
    var bgImages;
    {% include "toomanydaves/home/animation/_bg-images.js" %}

    var $body = $('body');
    var bgImage = bgImages[Math.floor(Math.random() * bgImages.length)];
    
    // Show a GIF
    $body.css('background-image', bgImage.url);

    $(document).ready(function () {
        var $teaser = $('#teaser');
        var $centeredLogo = $('#centered-logo');
        var $logoClaim = $centeredLogo.find('.logo-claim');
        var portfolioBgs, postsBgs, peepsBgs;
        {% include "toomanydaves/home/animation/_portfolio-bgs.js" %}
        {% include "toomanydaves/home/animation/_posts-bgs.js" %}
        {% include "toomanydaves/home/animation/_peeps-bgs.js" %}

        // Get the hidden inline logo into position
        // so that it can later fall into place.
        fallDown($('#inline-logo rect'), function () { }, '-260px');

        // Reveal the background squares of color
        window.setTimeout(function () {
            $teaser.velocity({ 'opacity': '1' }, 2000);
        }, 400);

        // Streak the letters of the center logo.
        window.setTimeout(function () {
            colorFlow($centeredLogo.find('g g'), function () { }, '0.0');
        }, 500);

        // Remove the GIF on body (leaves black)
        // after the appropriate duration
        window.setTimeout(function () {
            $body.css('background-image', 'none');
            // Hide claim and change to text-dark
            $logoClaim.removeClass('text-white');
            $logoClaim.children().css('visibility', 'hidden');
        }, bgImage.duration);

        // Once the GIF is gone...
        window.setTimeout(function () {
            // Fade in white bg on body
            $body
            .removeClass('text-white')
            .addClass('text-dark')
            .velocity({'background-color': '#e3e3e3'}, 500, function () {
                // Show wallpaper
                $('#bg').addClass('wallpaper-bg');

                // Show a random Portfolio bg
                $teaser.find('#portfolio-photo-bg').attr(
                    'src',
                    portfolioBgs[Math.floor(portfolioBgs.length * Math.random())]
                );

                // Show "Think Big."
                $centeredLogo.find('.think-big').css('visibility', 'visible');

                window.setTimeout(function () {
                    var $startSmall = $centeredLogo.find('.start-small');
                    var $keepAtIt = $centeredLogo.find('.keep-at-it');

                    // Show a random Posts bg
                    $teaser.find('#posts-photo-bg').attr(
                        'src',
                        postsBgs[Math.floor(postsBgs.length * Math.random())]
                    );

                    // Show "Start Small"
                    $startSmall.css('visibility', 'visible');

                    window.setTimeout(function () {
                        // Show a random Peeps bg
                        $teaser.find('#peeps-photo-bg').attr(
                            'src',
                            peepsBgs[Math.floor(peepsBgs.length * Math.random())]
                        );

                        // Show "Keep at it."
                        $keepAtIt.css('visibility', 'visible');

                        // Collapse the centered logo
                        fallDown($centeredLogo.find(' rect'), function () {
                            // After the collapse...

                            // Show the PPP headings in teaser
                            $teaser.find('.js-teaser-section-heading').velocity({ opacity: 1 }, 500);

                            // Hide the claim
                            $logoClaim.velocity(
                                { opacity: 0 },
                                450
                            );

                            window.setTimeout(function () {
                                $centeredLogo.velocity(
                                    { height: 0 },
                                    450,
                                    function () {
                                        $('#inline-logo').css('display', 'block');
                                        $('nav .claim').removeClass('d-none');
                                        // Let the inline logo fall into place
                                        fallDown(
                                            $('#inline-logo rect'),
                                            function () {
                                                window.setTimeout(function () {
                                                    colorFlow(
                                                        $('#inline-logo g g')
                                                    );
                                                }, 5500);

                                                window.setTimeout(function () {
                                                    var $portfolioPhotoBg = $teaser.find('#portfolio-photo-bg');
                                                    var $portfolioPatternBg = $teaser.find('#portfolio-pattern-bg');

                                                    // Fade out photo, fade in pattern
                                                    $portfolioPhotoBg.velocity({ 'opacity': 0 }, 1000);
                                                    $portfolioPatternBg.velocity({ 'opacity': 0.7 }, 1200);
                                                    

                                                    // Show Portfolio content
                                                    $('#portfolio-body')
                                                    .css('display', 'block')
                                                    .velocity(
                                                        { 'opacity': 1 },
                                                        function () {
                                                            // Add scroll handler
                                                            $('#portfolio-scroller').scroll(function () {
                                                                // If near bottom show photo, otherwise show pattern
                                                                if ($(this).scrollTop() > ($(this).find('.card-columns').height() - 250)) {
                                                                    $portfolioPhotoBg.css('opacity', 0.5);
                                                                    $portfolioPatternBg.css('opacity', 0); 
                                                                } else {
                                                                    $portfolioPhotoBg.css('opacity', 0);
                                                                    $portfolioPatternBg.css('opacity', 0.7); 
                                                                }
                                                            });
                                                        },
                                                        1200
                                                    );
                                                }, 650);

                                                window.setTimeout(function () {
                                                    var $postsPhotoBg = $teaser.find('#posts-photo-bg');
                                                    var $postsPatternBg = $teaser.find('#posts-pattern-bg');

                                                    // Fade out photo, fade in pattern
                                                    $postsPhotoBg.velocity({ 'opacity': 0 }, 1000);
                                                    $postsPatternBg.velocity({ 'opacity': 0.7 }, 1200);

                                                    // Show Posts content
                                                    $('#posts-body')
                                                    .css('display', 'block')
                                                    .velocity(
                                                        { 'opacity': 1 },
                                                        function () {

                                                            // Add scroll handlers
                                                            $('#posts-scroller').scroll(function () {
                                                                if ($(this).scrollTop() > ($(this).find('.card-columns').height() - 50)) {
                                                                    $postsPhotoBg.css('opacity', 0.5);
                                                                    $postsPatternBg.css('opacity', 0);
                                                                } else {
                                                                    $postsPhotoBg.css('opacity', 0);
                                                                    $postsPatternBg.css('opacity', 0.7);
                                                                }
                                                            });
                                                        },
                                                        1200
                                                    );
                                                }, 1600);

                                                window.setTimeout(function () {
                                                    var $peepsPhotoBg = $teaser.find('#peeps-photo-bg');
                                                    var $peepsPatternBg = $teaser.find('#peeps-pattern-bg');

                                                    // Fade out photo, fade in pattern
                                                    $peepsPhotoBg.velocity({ 'opacity': 0 }, 1000);
                                                    $peepsPatternBg.velocity({ 'opacity': 0.3 }, 1200); 

                                                    // Show Peeps content
                                                    $('#peeps-body')
                                                    .css('display', 'block')
                                                    .velocity(
                                                        { 'opacity': 1 },
                                                        function () {
                                                            // Add scroll handlers on teaser sections that reveal image on bottom
                                                            $('#peeps-scroller').scroll(function () {
                                                                if ($(this).scrollTop() > ($(this).find('.card-columns').height() + 10)) {
                                                                    $peepsPhotoBg.css('opacity', 0.5);
                                                                    $peepsPatternBg.css('opacity', 0);
                                                                } else {
                                                                    $peepsPhotoBg.css('opacity', 0);
                                                                    $peepsPatternBg.css('opacity', 0.3);
                                                                }
                                                            });
                                                        },
                                                        1200
                                                    );
                                                }, 2400);
                                            },
                                            '0px',
                                            300
                                        );
                                    }
                                );
                            }, 500);
                        });
                    }, 700);
                }, 700);
            });
        }, bgImage.duration);
    });
</script>
