<style>
    body {
        background-color: #111312;
        background-position: center center;
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
    }
    nav {
        height: 100px;
    }
    #inline-logo {
        transform-origin: top left;
        transform: scale(0.3);
    }
    .navbar-toggler {
        color: #007bff;
        cursor: pointer;
        padding: 0;
        line-height: inherit;
    }
    .navbar-toggler:hover {
        color: #0056b3;
    }
    .navbar-nav .nav-link {
        padding-right: .5rem;
        padding-left: .5rem;
    }
    .navbar-collapse.show .dropdown-menu {
        margin-bottom: 1rem;
    }
    g#too { fill: rgba(241, 68, 61, 0.5); }
    g#many { fill: rgba(241, 68, 61, 0.5); }
    g#daves { fill: rgba(241, 68, 61, 0.5); }
</style>
{% include "toomanydaves/logo/_api.html" %}
<div class="container-fluid">
    <nav class="navbar sticky-top navbar-expand-md justify-content-start">
        <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon icon-menu"></span>
        </button>
        <a class="navbar-brand" href="/">
            <span style="visibility: hidden">Too Many Daves</span>
            <div id="inline-logo" style="display: none; position: absolute; top: 20px">
                {% include "toomanydaves/logo/_inline.html" %}
            </div>
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav text-fat-serif d-none">
                <li class="nav-item">
                    <a 
                        class="nav-link h5"
                        href="/portfolio"
                    >Portfolio</a>
                </li>
                <li class="nav-item">
                    <a 
                        class="nav-link h5"
                        href="/blog"
                    >Posts</a>
                </li>
                <li class="nav-item">
                    <a 
                        class="nav-link h5"
                        href="/people"
                    >Peeps</a>
                </li>
            </ul>
        </div>
        <ul id="navbar-social" class="navbar-nav ml-auto flex-row">
           <li class="nav-item">
                <a 
                    class="nav-link"
                    href="http://facebook.com/toomanydaves.net"
                    target="_blank"
                ><i class="icon-facebook"></i></a>
            </li>
            {% if request.user.is_authenticated %}
            <li class="nav-item dropdown text-nowrap">
                <a
                    class="nav-link dropdown-toggle"
                    data-toggle="dropdown"
                    href="#"
                    role="button"
                    aria-haspopup="true"
                    aria-expanded="false"
                >{{ user.first_name }}</a>
                <div class="dropdown-menu dropdown-menu-right">
                    {% if user.is_staff %}
                        <a class="dropdown-item" href="/admin">Admin</a>
                    {% endif %}
                    <a class="dropdown-item" href="/network/dashboard">Dashboard</a>
                    <a class="dropdown-item" href="/logout">Log out</a>
                </div>
            </li>
            {% else %}
            <li class="nav-item">
                <a 
                    class="nav-link btn btn-sm btn-outline-primary"
                    role="button"
                    href="/engage"
                >
                    <span>Join</span>
                </a>
            </li>
            {% endif %}
        </ul>
    </nav>
    <div
        id="centered-logo"
        style="visibility: hidden"
        class="row justify-content-center mb-4"
    >
        <div class="col"></div>
        <div class="col-auto">
            {% include "toomanydaves/logo/_centered.html" %}
            <h4 class="logo-claim text-white">
                <span class="think-big">Think big.</span>
                <span class="start-small">Start small.</span>
                <span class="keep-at-it">Keep at it.</span>
            </h4>
        </div>
        <div class="col"></div>
    </div>
</div>
