<script>
    function flip(e) {
        $(e.target).find('.card').toggleClass('flipped');
    }
</script>
<style>
    #teaser .card {
        -webkit-transition: -webkit-transform 1s;
        -moz-transition: -moz-transform 1s;
        -o-transition: -o-transform 1s;
        transition: transform 1s;
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        -o-transform-style: preserve-3d;
        transform-style: preserve-3d;
        -webkit-transform-origin: 50% 50%;
    }
    #teaser .card-face {
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -o-backface-visibility: hidden;
        backface-visibility: hidden;
    }
    #teaser .card-face.back-face {
        -webkit-transform: rotateY( 180deg );
        -moz-transform: rotateY( 180deg );
        -o-transform: rotateY( 180deg );
        transform: rotateY( 180deg );
    }
    #teaser .flipped {
        -webkit-transform: rotateY( 180deg );
        -moz-transform: rotateY( 180deg );
        -o-transform: rotateY( 180deg );
        transform: rotateY( 180deg );
    }
</style>
<div id="home-teaser">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h4 class="text-sans-serif text-dark">
                    What&apos;s <small style="padding-right: 0.2rem;"><i class="text-uppercase">in</i></small>
                    <span style="
                        color: transparent;
                        text-transform: uppercase;
                        -webkit-text-stroke-width: 1px;
                        -webkit-text-stroke-color: #343A40;
                    ">Too Many Daves</span>?
                </h4>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
            </div>
            <div class="col-12 col-lg-6" style="position: relative;">
                {% include "toomanydaves/home/teaser/_portfolio.html" %}
            </div>
            <div class="col-12 col-lg-6">
                <div class="row">
                    <div class="col-12" style="position: relative;">
                        {% include "toomanydaves/home/teaser/_posts.html" %}
                    </div>
                    <div class="col-12" style="position: relative;">
                        {% include "toomanydaves/home/teaser/_peeps.html" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
