<div class="container">
    <div class="row">
        <div class="col-12 col-md-6">
            <div
                id="teaser-portfolio"
                class="portfolio photo-bg"
                style="
                    height: 500px;
                    background-position: center;
                    background-size: cover;
                    margin-bottom: 2rem
                "
            >
                <div
                    style="
                        height: 100%;
                        overflow: scroll;
                        background-color: rgba(255, 0, 0, 0.5);
                    "
                >
                    <div class="dot-matrix-bg">
                        <h1
                            style="
                                opacity: 0;
                                padding-left: 1rem;
                                font-size: 4rem
                            "
                            class="text-fat-serif"
                        ><a href="/portfolio" style="color: #fff">Portfolio</a></h1>

                        <div
                            class="card-columns"
                            style="
                                opacity: 0;
                                padding: 1rem;
                                column-count: 2
                            "
                        >
                            {% for project in project_list %}
                            <div
                                id="project_{{ project.id }}"
                                class="card"
                            >
                                {% if project.logo %}
                                <img class="card-img-top" src="{{ project.logo.url }}" alt="logo">
                                {% endif %}
                                <div class="card-body">
                                    {% if project.tags %}
                                    <ul class="list-inline">
                                        {% for tag in project.tags.all %}
                                        <li class="list-inline-item">
                                            <span class="badge badge-warning">{{ tag.name }}</span>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                    {% endif %}
                                    <h4 class="text-sans-serif">
                                        <a href="/portfolio/projects/{{ project.id }}">{{ project }}</a>
                                    </h4>
                                    {% if project.claim %}
                                    <h6 class="text-dark">{{ project.claim }}</h6>
                                    {% endif %}
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="row">
                <div
                    class="col-12"
                >
                    <div
                        class="posts photo-bg"
                        style="
                            background-position: center;
                            background-size: cover;
                            height: 280px;
                            margin-bottom: 30px;
                        "
                    >
                        <div
                            style="
                                height: 100%;
                                background-color: rgba(255, 130, 0, 0.5)
                            "
                        >
                            <div class="dot-matrix-bg">
                                <h1
                                    style="
                                        opacity: 0;
                                        padding-left: 1rem;
                                        font-size: 4rem
                                    "
                                    class="text-fat-serif"
                                ><a href="/blog" style="color: #fff;">Posts</a></h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div
                        class="peeps photo-bg"
                        style="
                            height: 190px;
                            background-position: center;
                            background-size: cover;
                        "
                    >
                        <div
                            style="
                                height: 100%;
                                background-color: rgba(0, 150, 255, 0.5)
                            "
                        >
                            <div class="dot-matrix-bg">
                                <h1
                                    style="
                                        opacity: 0;
                                        padding-left: 1rem;
                                        font-size: 4rem
                                    "
                                    class="text-fat-serif"
                                ><a href="/people" style="color: #fff">Peeps</a></h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
