{% extends "toomanydaves/base.html" %}

{% block title %}Log in{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p>
                    Use <a href="{% url 'social:begin' 'github' %}">GitHub</a>,
                    <a href="{% url 'social:begin' 'facebook' %}">Facebook</a> or your
                </>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
