<div id="inspiration-slide">
    <div class="slide-background-image">
        <div class="dot-matrix text-light">
            <div class="row slide-background">
                <div class="col-12">
                    <div id="a-name" class="jumbotron text-light text-right">
                        <h1>Inspiration</h1>
                        <blockquote class="blockquote text-right">
                            "Did I ever tell you that Mrs. McCave<br>
                            Had twenty-three sons and she named them all Dave?<br>
                            Well she did.&nbsp;&nbsp;
                            And that wasn't a smart thing to do."
                            <footer class="blockquote-footer text-light">
                                <small>
                                The opening of the eponymous poem
                                by Theodor Geisel aka Dr. Seuss
                                </small>
                            </footer>
                        </blockquote>
                        <p>
                            <a
                                class="btn btn-primary btn-lg"
                                href="http://www.poetryfoundation.org/poems/42882"
                                target="_blank"
                            >Go to the Source</a>
                        </p>
                        <div class="carousel-caption d-block">
                            <h3>The Name of a Special Poem.</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
