<div id="inspiration-slide" class="carousel-slide">
    <div class="dot-matrix-bg text-light">
        <div class="row">
            <div class="col-12">
                <div class="jumbotron text-light text-right">
                    <h1>Inspiration</h1>
                    <blockquote class="blockquote text-right">
                        "Did I ever tell you that Mrs. McCave<br>
                        Had twenty-three sons and she named them all Dave?<br>
                        Well she did.&nbsp;&nbsp;
                        And that wasn't a smart thing to do."
                        <footer class="blockquote-footer text-light">
                            <small>
                            The opening of the eponymous poem
                            by Theodor Geisel aka Dr. Seuss
                            </small>
                        </footer>
                    </blockquote>
                    <p>
                        <a
                            class="btn btn-primary btn-lg"
                            href="#tab=poem"
                        >Go Back to the Roots</a>
                    </p>
                </div>
            </div>
            <div class="carousel-caption d-block">
                <h3>A Poem.</h3>
            </div>
        </div>
    </div>
</div>
