{% load static %}
<div
    id="poem"
    class="tab-pane fade"
    role="tabpanel"
    aria-labelledby="poem-tab"
>
    <div class="container">
        <div class="row">
            <div class="col-md-4 order-md-9 col-lg-4 order-lg-1 mb-4">
                <div class="text-serif">
                    <p class="lead">
                        <img
                            src="{% static "/images/dave_on_stilts.png" %}"
                            class="float-left float-md-right"
                        >
                        <small class="text-uppercase">Too Many Daves</small>
                        is about names and naming things,
                        written with a playfulness that captures
                        <a href="/portfolio/projects">the spirit</a> of this endeavor.
                    </p>
                    <p class="lead">
                        And yet, the poem is also a cautionary tale
                        whose powerful moral of not wasting opportunites
                        defines the focus – and seriousness – of
                        <a
                            href="/about?tab=philosophy&slide=mission"
                        >the mission</a> at hand.
                    </p>
                </div>
            </div>
            <div class="col-md-8 order-md-1 col-lg-8 order-lg-5">
                <h1>Too Many Daves</h1>
                <h6 class="text-uppercase">By Theodore Geisel (Dr. Seuss)</h6>
                <br>
                <p>
                    Did I ever tell you that Mrs. McCave<br>
                    Had twenty-three sons and she named them all Dave?<br>
                    Well, she did.&nbsp;&nbsp;And that wasn't a smart thing to do.<br>
                    You see, when she wants one and calls out, "Yoo-Hoo!<br>
                    Come into the house, Dave!" she doesn't get one.<br>
                    All twenty-three Daves of hers come on the run!<br>
                    This makes things quite difficult at the McCaves'<br>
                    As you can imagine, with so many Daves.<br>
                    And often she wishes that, when they were born,<br>
                    She had named one of them Bodkin Van Horn<br>
                    And one of them Hoos-Foos.&nbsp;&nbsp;And one of them Snimm.<br>
                    And one of them Hot-Shot.&nbsp;&nbsp;And one Sunny Jim.<br>
                    And one of them Shadrack.&nbsp;&nbsp;And one of them Blinkey.<br>
                    And one of them Stuffy.&nbsp;&nbsp;And one of them Stinkey.<br>
                    Another one Putt-Putt.&nbsp;&nbsp;Another one Moon Face.<br>
                    Another one Marvin O'Gravel Balloon Face.<br>
                    And one of them Ziggy.&nbsp;&nbsp;And one Soggy Muff.<br>
                    One Buffalo Bill.&nbsp;&nbsp;And one Biffalo Buff.<br>
                    And one of them Sneepy.&nbsp;&nbsp;And one Weepy Weed.<br>
                    And one Paris Garters.&nbsp;&nbsp;And one Harris Tweed.<br>
                    And one of them Sir Michael Carmichael Zutt<br>
                    And one of them Oliver Boliver Butt<br>
                    And one of them Zanzibar Buck-Buck McFate ...<br>
                    But she didn't do it.&nbsp;&nbsp;And now it's too late.
                </p>
            </div>
        </div>
    </div>
</div>
