<div id="platform-slide" class="slide-background">
<div class="dot-matrix text-light">
<div id="for-a-platform" class="row">
    <div class="col-12">
        <div id="a-platform">
            <p class="lead">
                First and foremost,
            </p>
            <p>
                <em>Too Many Daves</em> consists of a diverse portfolio of 
                <a href="/projects">distinctive projects</a>,
                each sharing a higher purpose –
                to foster engagement, reflection and creativity.
            </p>
            <p>
                To spread love, it's the Brooklyn way!
            </p>
            <div class="carousel-caption d-block">
                <h3>A Portfolio of Projects.</h3>
            </div>
        </div>
    </div>
</div>
</div>
</div>
