{% extends "toomanydaves/base.html" %}

{% load static %}

{% block title %}What is Too Many Daves?{% endblock %}

{% block style %}
<style>
.nav-tabs {
    margin-bottom: 1rem;
}

#about-page-footnotes {
    margin-top: 10rem;
}
</style>
{% endblock %}

{% block content %}
<div id="about-page">
    <div id="about-page-tabs">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="nav nav-tabs" role="tablist">
                        <a
                            id="philosophy-tab"
                            class="nav-item nav-link active"
                            data-toggle="tab"
                            href="#philosophy-pane"
                            role="tab"
                            aria-controls="philosophy-pane"
                            aria-expanded="true"
                        >
                            <span class="d-none d-md-block">What is
                                <em class="brand">Too Many Daves?</em>
                            </span>
                            <span class="d-none d-sm-block d-md-none">Too Many Daves?</span>
                            <span class="d-block d-sm-none">What it is</span>
                        </a>
                        <a
                            id="backstory-tab"
                            class="nav-item nav-link"
                            data-toggle="tab"
                            href="#backstory-pane"
                            role="tab"
                            aria-controls="backstory-pane"
                        >Backstory</a>
                        <a
                            id="poem-tab"
                            class="nav-item nav-link"
                            data-toggle="tab"
                            href="#poem-pane"
                            role="tab"
                            aria-controls="poem-pane"
                        >The Poem</a>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div id="about-page-tab-content" class="tab-content">
        <div id="philosophy-pane"
            class="tab-pane fade show active"
            role="tabpanel"
            aria-labelledby="philosophy-tab"
        >
            {% include "toomanydaves/about_philosophy.html" %}
        </div>
        <div
            id="backstory-pane"
            class="tab-pane fade text-sans-serif-headings"
            role="tabpanel"
            aria-labelledby="backstory-tab"
        >
            {% include "toomanydaves/about_backstory.html" %}
        </div>
        <div
            id="poem-pane"
            class="tab-pane fade"
            role="tabpanel"
            aria-labelledby="poem-tab"
        >
            {% include "toomanydaves/about_poem.html" %}
        </div>
    </div>
    <div id="about-page-footnotes">
        {% include "toomanydaves/about_footnotes.html" %}
    </div>
</div> 
{% endblock %}
