<div class="container">
    <div class="row">
        <div class="col-12 text-right">
            <h6><small class="text-uppercase">Footnotes</small></h6>
            <p id="about-page-footnote-1">
                <sup><small>[1]</small></sup>
                From the song
                <em>Juicy</em> by Biggie Smalls
                aka Notorious B.I.G.
            </p>
            <p id="about-page-footnote-2">
                <sup><small>[2]</small></sup>
                Walt Whitman, known to some as
                <a href="">O' Captain, My Captain</a> 
            </p>
            <p id="about-page-footnote-3">
                <sup><small>[3]</small></sup>&nbsp;
                Jacke, <em>wie Hose</em>.
                Literally "jacket, like pants"
                <span class="long-dash-before">meaning
                "same difference".</span>
                <em>Jacke</em>, pronounced YA`kuh, is the German word for jacket.
            </p>
            <p id="about-page-footnote-4">
                <sup><small>[4]</small></sup>
                <em>Program or Be Programed</em>
                by Douglas Rushkoff
            </p>
            <p id="about-page-footnote-5">
                <sup><small>[5]</small></sup>
                <span
                    class="long-dash-after"
                >"This Little Light of Mine (I'm gonna let it shine)"</span>
                an inspiring negro spiritual still sung daily in Black churches
                and schoolhouses across the US.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-right">
            <h6><small class="text-uppercase">Images</small></h6>
            <ul class="list-unstyled">
                <li>Biggie Smalls</li>
                <li>Night Sky with Stars and Power Lines</li>
                <li>Walt Whitman</li>
                <li>Sean Jacke</li>
                <li>Dave on Stilts</li>
            </ul>
        </div>
    </div>
</div>
