{% extends "toomanydaves/base.html" %}

{% block title %}What is Too Many Daves?{% endblock %}

{% block style %}
<style>
    .nav-tabs {
        margin-bottom: 1rem;
    }
    .carousel-inner {
        padding-top: 1rem;
        padding-bottom: 4.8rem;
    }
    .carousel-caption {
        bottom: -4rem;
    }
/*
    .carousel-indicators {
        bottom: auto;
        top: 1.2rem;
    }
    .carousel-item {
        padding-right: 10px;
        padding-left: 10px;
    }
    .carousel-control-next, .carousel-control-prev {
        width: 3rem;
    }
*/
</style>
{% endblock %}
    
{% block content %}
    <div id="for-about-page" class="row">
        <div class="col-12">
            <div id="for-about-page-tabs" class="row">
                <div class="col-12">
                    <nav class="nav nav-tabs" id="about-page-tabs" role="tablist">
                        <a
                            id="philosophy-tab"
                            class="nav-item nav-link active"
                            data-toggle="tab"
                            href="#philosophy"
                            role="tab"
                            aria-controls="philosophy"
                            aria-expanded="true"
                        >What is Too Many Daves?</a>
                        <a
                            id="history-tab"
                            class="nav-item nav-link"
                            data-toggle="tab"
                            href="#history"
                            role="tab"
                            aria-controls="history"
                        >Backstory</a>
                    </nav>
                </div>
            </div>
            <div id="for-about-page-tab-content" class="row justify-content-center"><div class="col-10">
                <div class="tab-content" id="about-page-tab-content">
                    <div class="tab-pane fade show active" id="philosophy">
                        <div id="for-philosophy" class="row bg-secondary text-dark">
                            <div class="col-12">
                                <div
                                    id="philosophy-carousel"
                                    class="carousel slide"
                                    data-ride="carousel"
                                    data-interval="14000"
                                >
                                    <ol class="carousel-indicators">
                                        <li data-target="#philosophy-carousel" data-slide-to="0" class="active"></li>
                                        <li data-target="#philosophy-carousel" data-slide-to="1"></li>
                                        <li data-target="#philosophy-carousel" data-slide-to="2"></li>
                                    </ol>
                                    <div class="carousel-inner">
                                        <div class="carousel-item active">
                                            <div id="for-a-platform" class="row">
                                                <div class="col-12">
                                                    <div id="a-platform">
                                                        <p>
                                                            First and foremost, <em>Too Many Daves</em> consists of a diverse portfolio of 
                                                            <a href="/projects">innovative projects</a>
                                                            sharing a higher purpose –
                                                            to foster engagement, reflection and creativity.
                                                        </p>
                                                        <p>
                                                            To spread love, it's the Brooklyn way!
                                                        </p>
                                                        <div class="carousel-caption d-block">
                                                            <h3>A Portfolio of Projects.</h3>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="carousel-item">
                                            <div id="for-a-name" class="row">
                                                <div class="col-12">
                                                    <div id="a-name">
                                                        <p>
                                                            <em>Too Many Daves</em> takes its name from the
                                                            eponymous poem by Theodor Geisel
                                                            aka Dr. Seuss:
                                                        </p>
                                                        <blockquote class="blockquote text-right">
                                                            "Did I ever tell you that Mrs. McCave<br>
                                                            Had twenty-three sons and she named them all Dave?<br>
                                                            Well she did.&nbsp;&nbsp;And that wasn't a smart thing to do."
                                                            <footer class="blockquote-footer">
                                                                <a
                                                                    href="http://www.poetryfoundation.org/poems/42882"
                                                                    target="_blank"
                                                                >Read the full text of <em>Too Many Daves</em></a>
                                                            </footer>
                                                        </blockquote>
                                                        <p>
                                                            The poem is itself about names, and naming things.
                                                            Its playfulness, a sign post for the spirit of this endeavor.
                                                            Yet at the same time, it is also a powerful cautionary tale;
                                                            the moral of which reflects precisely the focus, and seriousness, of the mission at hand.
                                                        </p>
                                                        <div class="carousel-caption d-block">
                                                            <h3>The Name of a Poem.</h3>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="carousel-item">
                                            <div id="for-a-mission" class="row">
                                                <div class="col-12">
                                                    <div id="a-mission">
                                                        <div id="for-mission" class="row">
                                                            <div class="col-lg-6">
                                                                <div class="jumbotron">
                                                                    <h1>
                                                                        To be vigilant and active<br>
                                                                    </h1>
                                                                    <p class="lead">
                                                                        On as many fronts as possible,<br>
                                                                        To encourage exhibitions of creativity and personal investment.
                                                                    </p>
                                                                    {% if not user.is_authenticated %}
                                                                        <p class="lead">
                                                                            <a class="btn btn-primary btn-lg" href="/join" role="button">
                                                                                Join us
                                                                            </a>
                                                                        </p>
                                                                    {% endif %}
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-6">
                                                                <p>
                                                                    Thankfully life presents us with immeasurable opportunities
                                                                    to exercise our own creativity. Sadly though,
                                                                    as was the case in
                                                                    <a href="#naming-of-the-daves">the naming of the Daves</a>,
                                                                    if we don't act, they will simply pass us by.
                                                                </p>
                                                                <p>
                                                                    Therefore we must be vigilant, and contribute our verse.
                                                                </p>
                                                            </div>
                                                            <div class="carousel-caption d-block">
                                                                <h3>A Mission from God.</h3>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--
                                <a class="carousel-control-prev" href="#philosophy-carousel" role="button" data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#philosophy-carousel" role="button" data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                                -->
                            </div>
                        </div>
                        <div
                            class="tab-pane fade"
                            id="history"
                            role="tabpanel"
                            aria-labelledby="history-tab"
                        >
                            <div id="for-history" class="row">
                                <div class="col-12"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
{% endblock %}
