<div
    class="tab-pane fade"
    id="history"
    role="tabpanel"
    aria-labelledby="history-tab"
>
    <div id="for-history" class="row">
        <div class="col-12">
            <p>
                Hi, my name is
                <a href="/seanjacke">Sean Jacke</a>.
                I'm the Prime Mover of Too Many Daves.
                The one who started things in motion.
                The man with the plan, so to speak.
            </p>
            <p>
                Too Many Daves is still in it's infancy,
                still kinda my baby. But like any newborn,
                it's already crossed a significant threshold.
                And I'm a proud papa!
            </p>
            <p>
                It's come into the world, or rather the World Wide Web.
                Until recently, it was just a construct in my head,
                an idea connecting the components of my life's work,
                a vision of what I'd like to contribute.
            </p>
            <p>
                Now it has a website, a form to exist on its own –
                to make itself known. The Web was always meant to be its home.
                And it was always meant to have a life outside of me.
            </p>
            <p>
                And now it has you, reading about it.
            </p>
            <p>
                How exciting!
            </p>
            <p>
                And as a project, it's happy to have you here!
                It's been waiting for your arrival.
                It wants you to read about it –
                to explore its projects and its members –
                and should you be inclined,
                it also wants you to be a part of it.
            </p>
            <p>
                Too Many Daves, 
                <a href="/about#philosophy_platform">
                    as a collection of projects
                </a>,
                a collective undertaking if you will, is just as much
                if not more so in the world as it is in the Web.
                And it's just as much about the people who comprise it,
                as it is about the projects it maintains and contributes to.
            </p>
            <p>
                And its projects at various stages of realization.
            </p>
            <p>
                If you're interested in what you see,
                there are lots of ways to get involved.
            </p>
        </div>
    </div>
</div>
