{% load static %}
<div
    id="backstory"
    class="tab-pane fade"
    role="tabpanel"
    aria-labelledby="backstory-tab"
>
    <div class="container">
        <div class="row">
            <section class="col-12">
                <p class="lead">
                    This is me,
                    <a href="/seanjacke">Sean Jacke</a>,
                    the prime mover of <em>Too Many Daves</em>,
                    the one who started things in motion.<br>
                </p>
                <p>
                    In what follows, I'm gonna do my best to bring you
                    up to speed.
                </p>
            </section>
            <section class="col-12">
                <h4>Lay of the Land</h4>
                <p>
                    As a platform, Too Many Daves is in its infancy.
                    It's just crossed that most crucial threshold of existence –
                    it's come into the world, or as the case may be,
                    the World Wide Web.
                </p>
                <p>
                    What was once just a construct, or vision in my mind,
                    now has a form to exist on its own
                    and a way to make itself known.
                    It has you, reading about it!
                </p>
            </section>
            <section class="col-12">
                <h4>Beginnings</h4>
                <p>
                    <em>Too Many Daves</em> has its origins twenty years ago
                    and a half a world away,
                    on a beach in Northern California
                    when I decided to become a teacher.
                    It was several years later, working at a preschool in Austin, Texas,
                    when I encountered
                    <a
                        href="http://www.poetryfoundation.org/poems/42882"
                        target="_blank"
                    ><em> Too Many Daves</em></a>, the poem,
                    for the first time.
                </p>
            </section>
            <section class="col-12">
                <h4>School in the Cloud</h4>
                <p>
                    Always up for adventure and wanting to change the world,
                    it was living in Europe
                    when I learned how to program in order to develop
                    <a href="/schoolinthecloud">
                        educational software
                    </a>.
                </p>
            </section>
            <section class="col-12">
                <h4>Lebenskunst</h4>
                <p>
                    Back in Austin,
                    and previously and afterwards in New York,
                    I'd been not just a teacher,
                    but a student as well.
                    In my spare time,
                    I learned how to draft, weld, solder glass and work with wood –
                    I began making things in earnest.
                </p>
                <p>
                    In the time since,
                    I've met many artists, makers and designers.
                    And I realized that 
                    I had something to offer us all.
                    So I began work on
                    <a href="/lebenskunst">a platform</a>.
                </p>
            </section>
            <section class="col-12">
                <h4>You Better</h4>
                <p>
                    After the birth of my two sons,
                    I started learning even more about the person I want to be.
                    I decided to use my programming skills to produce
                    <a href="/youbetter">an app</a>
                    designed to help me, and whoever else,
                    set and reach personal goals.
                </p>
            </section>
            <section class="col-12">
                <h4>Program or Be Programmed</h4>
                <p>
                    These experiences and projects
                    define who I am and
                    form the current core of <em>Too Many Daves</em>:
                </p>
                <ul>
                    <li><a href="/schoolinthecloud">School in the Cloud</a></li>
                    <li><a href="/lebenskunst">Lebenskunst</a></li>
                    <li><a href="/youbetter">You Better</a></li>
                </ul>
                <p>
                    However they are not alone
                    in the portfolio of Too Many Daves.
                    They are surrounded by
                    <a href="/portfolio/projects">many other projects</a>,
                    worthy of equal attention.
                    Some from collaborators.
                    Some just known to Too Many Daves
                    as a object of admiration.
                    All in various stages of realization.
                    All, I'd submit, worthy of your attention.
                </p>
            </section>
            <section class="col-12">
                <p>
                    By joining Too Many Daves
                    you will be showing your support,
                    for these projects and putting yourself in the position
                    to work on them directly.
                </p>
                <p>
                    So if you're interested in what you see,
                    there are lots of ways to
                    <a href="/join">get involved</a>!
                    We'd be honored if you would!
                </p>
            </section>
            <section class="col-12 text-right">
                <ul class="list-unstyled">
                    <li><h5><a href="/seanjacke">Sean Jacke</a></h5></li>
                    <li class="text-uppercase">
                        <small>Oct 2017</small>
                    </li>
                    <li class="text-uppercase">
                        <small>Köln-Ehrenfeld</small>
                    </li>
                </ul>
            </section>
        </div>
    </div>
</div>
