<div id="mission-slide" class="carousel-slide">
    <div class="dot-matrix-bg text-light">
        <div class="row">
            <div class="col-lg-12">
                <div class="jumbotron text-light">
                    <h1>
                        To be vigilant and active
                    </h1>
                    <p class="lead">
                        On as many fronts as possible<br>
                        Using all the tools at our disposal<br>
                        In encouraging exhibitions of creativity and personal investment.
                    </p>
                    <a
                        class="btn btn-primary btn-lg"
                        href="/users"
                        role="button"
                    >
                        Meet the Community
                    </a>
                </div>
            </div>
            <div class="carousel-caption d-block">
                <h3>
                    A Mission from a <a
                        class="tooltip-target"
                        href="#tooltip-title"
                        data-toggle="tooltip"
                        data-placement="top"
                        data-html="true"
                        title="<span>Walt Whitman aka Uncle Walt aka 
                        <em>O' Captain, My Captain</em>
                        had a resounding answer for his readers when it came to
                        questions about the meaning of life:
                        &quot;<span class=&quot;long-dash-after&quot;>That
                        you are here</span>that life exists and identity.<br>
                        That the powerful play goes on,
                        and you may contribute a verse.&quot;</span>"
                    >Captain</a>
                </h3>
            </div>
        </div>
    </div>
</div>
