{% load static %}
<div
    id="backstory"
    class="tab-pane fade"
    role="tabpanel"
    aria-labelledby="backstory-tab"
>
    <div class="container-fluid pl-0 pr-0 mb-3">
        <div class="sean-jacke-bg text-light">
            <div class="dot-matrix-bg">
                <div
                    class="d-flex justify-content-end align-items-end pr-2 pr-sm-5"
                    style="height: 100%;"
                >
                    <p class="lead text-right">
                        My name is
                        <a href="/seanjacke">Sean Jacke</a>.
                        <sup><small><a
                            href="#about-page-footnote-3"
                        >[3]</a></small></sup>
                        <br>
                        I'm the prime mover behind <em class="brand">Too Many Daves</em>;
                        the one who started things in motion.<br>
                        In what follows, I'm gonna do my best to bring you
                        up to speed.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container pt-5 pb-3">
        <div class="row">
            <div class="col-12 text-right">
                <section>
                    <h5>Cologne, Germany</h5>
                    <h6><small class="text-uppercase">Fall 2017</small></h6>
                </section>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-10 col-lg-8">
                <section>
                    <p>
                        <span class="lead">
                            "Too Many Daves" has its origins
                        </span>
                        almost twenty years ago and half a world away at <a
                            href="http://www.habibishutch.com/"
                            target="_blank"
                        >Habibi's Hutch</a>,
                        a preschool in Austin, Texas where I first encountered <a
                            href="http://www.poetryfoundation.org/poems/42882"
                            target="_blank"
                        >the poem</a>.
                        It didn't take more than a couple times
                        reading it aloud and the sound of the kids' laughter
                        for me to recognize something special in it.
                    </p>
                    <p>
                        As I'd follow along my path,
                        it would stay with me,
                        providing inspiration along the way.
                    </p>
                </section>
            </div>
            <div class="col-12 col-md-10 col-lg-8">
                <section>
                    <h3>School in the Cloud</h3>
                    <p>
                        I was already living in Europe
                        when I learned how to code professionally.
                        I wanted to focus on <a href="/schoolinthecloud">
                        educational software</a>.
                        The thoughtful and creative integration
                        of 21st century technology
                        has boundless potential to
                        democratize and enliven educational opportunities.
                    </p>
                </section>
            </div>
        </div>
    </div>
    <div class="container pt-2 mb-2">
        <div class="row">
            <div class="col-12 col-md-10 col-lg-8">
                <section>
                    <h3>Lebenskunst</h3>
                    <p>
                        Back in Austin,
                        and previously and afterwards in New York,
                        I had been a student myself, as well as a teacher.
                        In my spare time,
                        I'd learned how to draft, weld, solder glass and work with wood –
                        I'd begun making things in earnest.
                    </p>
                    <p>
                        In the intervening years,
                        I've met many fellow artists, makers and designers.
                        And over time I realized that 
                        there was something I needed to create for myself
                        and these like-minded folks –
                        <a href="/lebenskunst">a platform</a>
                        where works of art can be curated and past on
                        to others in a way both sustainable for the artists, designers and makers,
                        as well as affordable for everyday folks
                        looking for authentic goods.
                    </p>
                </section>
            </div>
        </div>
    </div>
    <div class="container pt-2 mb-2">
        <div class="row">
            <div class="col-12 col-md-10 col-lg-8">
                <section>
                    <h3>You Better</h3>
                    <p>
                        After the birth of my two sons,
                        I started learning even more about the person I want to be
                        and what I want to achieve.
                        I decided to use my programming skills to begin development on
                        <a href="/youbetter">an app</a>
                        to help me, and whoever else,
                        set and reach personal goals.
                        To let it shine!
                    </p>
                </section>
            </div>
        </div>
    </div>
    <div class="container pt-2 mb-2">
        <div class="row">
            <div class="col-12 col-md-10 col-lg-8">
                <section>
                    <h3>
                        Program or Be Programmed<sup><small><a
                            href="#about-page-footnote-4"
                        >[4]</a></small></sup>
                    </h3>
                    <p>
                        These experiences
                        define who I am, 
                        form the core projects
                        in the current portfolio and reflect the spirit of <em>Too Many Daves</em>:
                    </p>
                    <ul class="list-unstyled">
                        <li><a href="/schoolinthecloud">School in the Cloud</a></li>
                        <li><a href="/lebenskunst">Lebenskunst</a></li>
                        <li><a href="/youbetter">You Better</a></li>
                    </ul>
                    <p>
                        And they are already in very good company!
                    </p>
                    <p>
                        They are surrounded by
                        <a
                            href="/portfolio/projects"
                        >many other similarly focused, innovative projects</a>.
                        Some in collaboration.
                        Some just known to <em class="brand">Too Many Daves</em> as
                        worthy of admiration.
                        All in various stages of realization.
                        All, I'd submit, worthy of your attention.
                    </p>
                </section>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-10 col-lg-8">
                <section>
                    <h3>Lay of the Land</h3>
                    <p>
                        As a network, <em class="brand">Too Many Daves</em>
                        itself is in its infancy.
                        In fact it's literally just crossed that most crucial
                        threshold of existence –
                        it's come into the world – or as the case may be,
                        the World Wide Web.
                        What was even recently just a construct, a vision in my mind,
                        finally has a form to exist on its own,
                        and a way to make itself known.
                    </p>
                    <p>
                        Heck, it has you reading about it!
                    </p>
                </section>
            </div>
        </div>
    </div>
    <div class="container pt-2 mb-2">
        <div class="row">
            <div class="col-12 col-md-10 col-lg-8">
                <section>
                    <p>
                        And should you be as interested in what you see
                        as I hope you will be,
                        there are plenty of opportunities to
                        contribute a verse<sup><small><a
                            href="#about-page-footnote-2"
                        >[2]</a></small></sup>.
                        Even though it is still very much my baby,
                        <em class="brand">Too Many Daves</em>
                        was always meant to exist apart from me,
                        with plenty of room to accomodate anyone who wants to stand
                        for self-expression, creativity, tolerance and wonder.
                    </p>
                </section>
            </div>
            <div class="col-12 col-md-10 col-lg-8">
                <section>
                    <p>
                        Thanks very much for hearing me out.<br>
                        If I don't already,
                        <a href="/join">I hope to get to know you very soon!</a>
                    </p>
                </section>
            </div>
        </div>
    </div>
    <div class="container pt-2 mb-2">
        <div class="row">
            <div class="col-12 text-right">
                <section>
                    <h5>Sean Jacke</h5>
                </section>
                <small class="text-uppercase">Founder, </small>
                <small><em class="brand">Too Many Daves</em></small>
            </div>
        </div>
    </div>
</div>
