<div id="platform-slide">
    <div class="slide-background-image">
        <div class="dot-matrix text-light">
            <div class="row slide-background">
                <div class="col-12">
                    <div id="a-platform" class="jumbotron text-light">
                        <h1>
                            First and foremost
                        </h1>
                        <p class="lead">
                            <em>Too Many Daves</em> exists to showcase
                            a diverse portfolio of 
                            groundbreaking projects,
                            each sharing a higher purpose–<br>
                            <strong>to foster engagement, reflection and creativity</strong>.
                        </p>
                        <p class="lead">
                            To spread love, it's the Brooklyn way.
                        </p>
                        <a
                            class="btn btn-primary btn-lg"
                            href="/portfolio/projects"
                            role="button"
                        >
                            View the Projects
                        </a>
                        <div class="carousel-caption d-block">
                            <h3>A Portfolio of Projects.</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
