<div id="platform-slide" class="carousel-slide">
    <div class="dot-matrix-bg text-light">
        <div class="row">
            <div class="col-12">
                <div class="jumbotron text-light">
                    <h1>
                        First and foremost
                    </h1>
                    <p class="lead">
                        <em>Too Many Daves</em> exists to showcase exceptional projects
                        <span class="long-dash-after">serving a common purpose </span>
                        <br>
                        to foster
                        <small>
                            <strong class="text-uppercase">#Engagement</strong>,
                        </small>
                        <small>
                            <strong class="text-uppercase">#Reflection</strong>,
                        </small>
                        <small>
                            <strong class="text-uppercase">#Creativity</strong> and
                        </small>
                        <small>
                            <strong class="text-uppercase">#Wonder</strong>.
                        </small>
                    </p>
                    <p class="lead">
                        I.e., to spread Love,
                        <a
                            class="tooltip-target"
                            href="#tooltip-title"
                            data-toggle="tooltip"
                            data-placement="right"
                            data-html="true"
                            title="<span>Though he dedicates his first album, &quot;To all the teachers
                            that told me I'd never amount to nothin', to all the people that 
                            lived above the buildings that I was hustlin' in front of that called
                            the police on me when I was just tryin' to make some money to feed my
                            daughter,&quot;
                            Biggie Smalls, rapping about his
                            own generosity and concern for people around him,
                            attributes it to the way things are done in Brooklyn.
                            A sweet and rare complement, amidst other, more critical
                            observations about coming of age in poverty.
                            &quot;I made the change from a common thief /
                            To up close and personal with Robin Leach /
                            And I'm far from cheap /
                            I smoke skunk with my peeps all day –
                            Spread love, it's the Brooklyn way!&quot</span>"
                        >it's the Brooklyn way</a>.
                    </p>
                    <a
                        class="btn btn-primary btn-lg"
                        href="/portfolio/projects"
                        role="button"
                    >
                        View the Projects
                    </a>
                </div>
            </div>
            <div class="carousel-caption d-block">
                <h3>A Portfolio of Projects.</h3>
            </div>
        </div>
    </div>
</div>
