<div id="for-a-name" class="row">
    <div class="col-12">
        <div id="a-name">
            <p>
                <em>Too Many Daves</em> takes its name from the
                eponymous poem by Theodor Geisel,
                aka Dr. Seuss:
            </p>
            <blockquote class="blockquote text-right">
                "Did I ever tell you that Mrs. McCave<br>
                Had twenty-three sons and she named them all Dave?<br>
                Well she did.&nbsp;&nbsp;And that wasn't a smart thing to do..."
                <footer class="blockquote-footer">
                    <a
                        href="http://www.poetryfoundation.org/poems/42882"
                        target="_blank"
                    >Read the full text of <em>Too Many Daves</em></a>
                </footer>
            </blockquote>
            <p>
                The poem is itself about names, and naming things.
                Its playfulness sets the tenor for the spirit of this network.
            </p>
            <p>
                Yet even more so, it's a cautionary tale;
                its powerful moral of not wasting opportunites
                defining the focus, and seriousness, of the mission at hand.
            </p>
            <div class="carousel-caption d-block">
                <h3>The Name of a Poem.</h3>
            </div>
        </div>
    </div>
</div>
