{% load static %}
<div
    id="backstory"
    class="tab-pane fade text-sans-serif-headings"
    role="tabpanel"
    aria-labelledby="backstory-tab"
>
    <div class="container-fluid pl-0 pr-0 mb-3">
        <div class="sean-jacke-bg text-dark">
            <div class="dot-matrix-bg">
                <div
                    class="d-flex justify-content-end align-items-end pr-2 pr-sm-5 pr-md-6"
                    style="height: 100%;"
                >
                    <p class="text-light text-right">
                        <span class="lead">
                        Hi, my name is <a href="/seanjacke">Sean</a>.
                        </span>
                        <br>
                        I'm the prime-mover behind <em class="brand">Too Many Daves</em><br>
                        (the one who's started things in motion).<br>
                        In what follows, I've tried my best to bring you
                        up to speed.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container pt-5 pb-3">
        <div class="row">
            <div class="col-12 text-right">
                <section>
                    <h5>Cologne, Germany</h5>
                    <h6><small class="text-uppercase">14 October 2017</small></h6>
                </section>
            </div>
        </div>
    </div>
    <div class="container mb-3">
        <div class="row">
            <div class="col-12 col-lg-8">
                <section>
                    <p>
                        <span class="lead"><em class="brand">Too Many Daves</em>
                        has its origins</span>
                        almost twenty years ago and nearly half a world away at <a
                            href="http://www.habibishutch.com/"
                            target="_blank"
                        >Habibi's Hutch</a>,
                        a wonderful preschool in Austin, Texas,
                        where I had the good fortune to first encounter
                        <a
                            href="#tab=poem"
                        >the little-known poem</a>.
                    </p>
                    <p>
                        It really didn't take more than a couple times reading it aloud
                        <span class="long-dash-before long-dash-after">
                            and the sound of the little ones' laughter
                        </span>
                        to recognize something special in its text.
                        As I've followed along my path,
                        it's stayed with me,
                        providing inspiration along the way.
                    </p>
                    <p>
                        That way, which began teaching children,
                        eventually lead out of the classroom
                        and to the following projects:
                    </p>
                </section>
            </div>
        </div>
    </div>
    <div class="container mt-3">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-6">
                <div class="jumbotron text-dark">
                    <section>
                        <h3>School in the Cloud</h3>
                        <p>
                            The thoughtful and creative integration
                            of 21st century technology
                            has boundless potential to
                            democratize and enliven educational opportunities.
                            I was already living in Europe
                            when I set myself to the task of learning to code for real.
                            I wanted to focus on writing educational software.
                        </p>
                        <p>
                            What resulted is
                            <a href="/schoolinthecloud">School in the Cloud</a>.
                        </p>
                    </section>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-6">
                <div class="jumbotron text-dark">
                    <section>
                        <h3>You Better</h3>
                        <p>
                            The birth of my two sons
                            has taught me a lot about the person I want to be
                            and what I want to accomplish.
                            As my thoughts have turned more existential,
                            I've turned my development skills to
                            an app to help me, and whoever else,
                            set and reach personal goals.
                        </p>
                        <p>
                            <a
                                class="tooltip-target"
                                href="#tooltip-title"
                                data-toggle="tooltip"
                                data-placement="top"
                                data-html="true"
                                title="<em>This Little Light of Mine</em>,
                                a gospel song and Civil Rights anthem
                                still sung daily in churches
                                and schoolhouses across the US
                                instructs, &quot;The light that shines is the light of love /
                                It hides the darkness from above /
                                Shines on me and it shines on you /
                                Shows you what the power of love can do,&quot
                                as it urges its singers to let their own lights shine
                                &quot;bright and clear,&quot; &quot;far and near,&quot;
                                and &quot;in every dark corner.&quot;</span>"
                            >To let it shine!</a>
                        </p>
                        <p>
                            This is <a href="/youbetter">You Better</a>.
                        </p>
                    </section>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 col-lg-6">
                <div class="jumbotron text-dark">
                    <section>
                        <h3>Lebenskunst</h3>
                        <p>
                            Back in Austin,
                            and previously and afterwards in New York,
                            as well as a teacher, I'd been a student myself.
                            <span class="long-dash-after">I learned how to draft,
                            weld, solder glass and work with wood</span>
                            I began making things in earnest.
                        </p>
                        <p>
                            In the intervening years,
                            I've met many fellow artists, makers and designers
                            working in a variety of contexts.
                            <span class="long-dash-after">
                                And over time, I realized 
                                something that I needed to create for myself
                                and these like-minded folks
                            </span>
                            a platform where works of art can be curated
                            and past on to others in a way both sustainable for
                            the artists, designers and makers,
                            as well as affordable for everyday folks
                            looking for authentic goods.
                        </p>
                        <p>
                            This is <a href="/lebenskunst">Lebenskunst</a>.
                        </p>
                    </section>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-6">
                <section>
                    <h1>Three projects</h1>
                    <h3>One life's work</h3>
                    <p>
                        These experiences define who I am,
                        they form the core projects
                        in the current portfolio and reflect the spirit of
                        <em>Too Many Daves</em>.
                    </p>
                    <p>
                        And I hasten to say, they are in great company!
                    </p>
                    <p>
                        They are surrounded by
                        many other similarly intentioned, innovative works.
                        Some done in collaboration.
                        Some just known to <em class="brand">Too Many Daves</em> as
                        worthy of admiration.
                        All in various stages of realization.
                    </p>
                    <p>
                        All, I'd submit, worthy of your attention.
                    </p>
                </section>
            </div>
        </div>
    </div>
    <div class="container pt-2 mb-2">
        <div class="row">
            <div class="col-12 col-lg-8">
                <section>
                    <h3>
                        <a
                            class="tooltip-target"
                            href="#tooltip-title"
                            data-toggle="tooltip"
                            data-placement="top"
                            data-html="true"
                            title="<span><em>Program or Be Programed</em>, is the title of a wonderful
                            pamphlet of a book by Douglas Rushkoff making the case that,
                            &quot;Choose the former, and you gain access to the control panel
                            of civilization. Choose the later, and it could be the last real
                            choice you get to make.&quot;
                            He's talking about writing software, but it could just as easily
                            be applied to being active creatively and sharing work in general.
                            </span>"
                        >Program or Be Programmed</a>
                    </h3>
                    <p>
                        And just one more point before
                        you hopefully go off to browse the projects;
                        I'd like to mention that
                        <em class="brand">Too Many Daves</em>
                        is intended to be something else as well:
                        a social network and a forum,
                        <span class="long-dash-after">
                        <a href="/portfolio/toomanydaves"> a project itself</a>,
                        in support of creativity</span>
                        though at the moment, in this respect,
                        it is still very much in its infancy.
                    </p>
                    <p>
                        In fact it's literally just crossed that
                        most crucial threshold of existence
                        <span class="long-dash-before long-dash-after">
                            it's come into the world
                        </span>
                        or as the case may be, the World Wide Web.
                        It still kinda blows me away that,
                        what was just a construct, a vision in my mind,
                        now has a form to exist on its own,
                        and a way to make itself known.
                    </p>
                    <p>
                        Heck, it has you reading about it!
                    </p>
                    <p>
                        And should you be as interested in what you see
                        as I hope you are, please contribute a verse.
                        Even though it's still very much my baby,
                        <em class="brand">Too Many Daves</em>
                        was always meant to exist apart from me,
                        with plenty of room to accomodate anyone who wants to stand
                        for self-expression, creativity, tolerance and wonder.
                    </p>
                    <p>
                        So thanks very much for hearing me out!
                    </p>
                    <p>
                        If you haven't already,
                        <a href="/engage">I sincerely hope you'll join me in this endeavor</a>.
                    </p>
                </section>
            </div>
        </div>
    </div>
    <div class="container pt-2 mb-2">
        <div class="row">
            <div class="col-12 text-right">
                <section>
                    <h5>
                        <a
                            class="tooltip-target"
                            href="#tooltip-title"
                            data-toggle="tooltip"
                            data-placement="top"
                            data-html="true"
                            title="<span>Jacke, <em>wie Hose</em>.
                            Literally &quot;jacket, like pants&quot;
                            <span class=&quot;long-dash-before&quot;>meaning
                            &quot;same difference&quot;.</span>
                            <em>Jacke</em>, pronounced YA`kuh, is the German word for jacket.</span>"
                        >Sean Jacke</a>
                    </h5>
                </section>
                <small class="text-uppercase">Founder, </small>
                <small><em class="brand">Too Many Daves</em></small>
            </div>
        </div>
    </div>
</div>
