{% extends "toomanydaves/base.html" %}

{% load static %}

{% block title %}The Backstory of TOO MANY DAVES!{% endblock %}

{% block style %}
<style>
    #backstory .jumbotron {
        background-position: 50% 25%;
        background-size: cover;
        background-image: url(https://i.pinimg.com/564x/35/1d/a7/351da74625e7574d0392ad5cfc919669.jpg);
    }
    #backstory .jumbotron h3 {
        color: #fff;
        text-shadow: 0 0 30px #777;
    }
    #backstory .you-better {
        background-image: url(https://i.pinimg.com/564x/94/ac/a2/94aca28cd6109882a9e447a1f14eea39.jpg);
    }
    #backstory .lebenskunst {
        background-image: url(https://i.pinimg.com/564x/cb/ca/db/cbcadb981a013306c78c81b4f1327b11.jpg);
    }
    #backstory .school-in-the-cloud {
        background-image: url(https://i.pinimg.com/564x/c0/a9/d7/c0a9d73d526d03c4478907a5a418930d.jpg);
    }
    #backstory .sean-jacke-bg {
        background: url({% static "/images/seanjacke_cover.jpg" %});
        background-position: top;
        background-size: cover;
        background-repeat: no-repeat;
        height: 330px;
    }
</style>
{% endblock %}

{% block nav %}
    {% include "toomanydaves/nav.html" %}
{% endblock %}

{% block content %}
<div id="backstory">
    <div class="container-fluid pl-0 pr-0 mb-3">
        <div class="sean-jacke-bg text-dark">
            <div class="dot-matrix-bg">
                <div
                    class="d-flex justify-content-end align-items-end pr-2 pr-sm-5 pr-md-6"
                    style="height: 100%;"
                >
                    <p class="text-light text-right">
                        <span class="lead">Hi, my name is <a href="/seanjacke">Sean</a>.</span><br>
                        In the story of <small class="text-uppercase">Too Many Daves!</small>,
                        I guess I'm the <a
                            href="#"
                            class="tooltip-target"
                            data-toggle="tooltip"
                            data-placement="top"
                            title="From engineering, that which starts a potential source of energy in motion"
                        >prime-mover</a>.<br>
                        In what follows, I'll do my best to bring you
                        up to speed.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container pt-5 pb-3">
        <div class="row">
            <div class="col-12 text-right">
                <section>
                    <h5>Cologne, Germany</h5>
                    <h6><small class="text-uppercase">14 October 2017</small></h6>
                </section>
            </div>
        </div>
    </div>
    {% include 'toomanydaves/backstory/_intro.html' %}
    {% include 'toomanydaves/backstory/_projects.html' %}
    {% include 'toomanydaves/backstory/_conclusion.html' %}
    <div class="container pt-2 mb-2">
        <div class="row">
            <div class="col-12 text-right">
                <section>
                    <h5>
                        <a
                            class="tooltip-target"
                            href="#tooltip-title"
                            data-toggle="tooltip"
                            data-placement="top"
                            data-html="true"
                            title="<span>Jacke, <em>wie Hose</em>.
                            Literally &quot;jacket, like pants&quot;
                            <span class=&quot;long-dash-before&quot;>meaning
                            &quot;same difference&quot;.</span>
                            <em>Jacke</em>, pronounced YA`kuh, is the German word for jacket.</span>"
                        >Sean Jacke</a>
                    </h5>
                </section>
                <small class="text-uppercase">Founder, </small>
                <small><em class="brand">Too Many Daves</em></small>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip()
    });
</script>
{% endblock %}
