{% extends "toomanydaves/base.html" %}

{% load static %}

{% block title %}The Backstory of TOO MANY DAVES!{% endblock %}

{% block style %}
<style>
    #backstory .jumbotron {
        background-position: 50% 25%;
        background-size: cover;
        background-image: url(https://i.pinimg.com/564x/35/1d/a7/351da74625e7574d0392ad5cfc919669.jpg);
    }
    #backstory .jumbotron h3 {
        color: #fff;
        text-shadow: 0 0 30px #777;
    }
    #backstory .you-better {
        background-image: url(https://i.pinimg.com/564x/94/ac/a2/94aca28cd6109882a9e447a1f14eea39.jpg);
    }
    #backstory .lebenskunst {
        background-image: url(https://i.pinimg.com/564x/cb/ca/db/cbcadb981a013306c78c81b4f1327b11.jpg);
    }
    #backstory .school-in-the-cloud {
        background-image: url(https://i.pinimg.com/564x/c0/a9/d7/c0a9d73d526d03c4478907a5a418930d.jpg);
    }
    #backstory .sean-jacke-bg {
        background: url({% static "/images/seanjacke_cover.jpg" %});
        background-position: top;
        background-size: cover;
        background-repeat: no-repeat;
        height: 330px;
    }
</style>
{% endblock %}

{% block nav %}
    {% include "toomanydaves/nav.html" %}
{% endblock %}

{% block content %}
<div id="backstory">
    <div class="container-fluid pl-0 pr-0">
        <div class="sean-jacke-bg text-dark">
            <div class="dot-matrix-bg">
                <div
                    class="d-flex justify-content-end align-items-end pr-2 pr-sm-5 pr-md-6"
                    style="height: 100%;"
                >
                    <p class="text-light text-right">
                        <span class="lead">Hi, my name is <a href="/seanjacke">Sean</a>.</span><br>
                        I created this website.<br>
                        In what follows, I'll do my best to
                        explain why.
                    </p>
                </div>
            </div>
        </div>
    </div>
    {% include 'toomanydaves/backstory/_intro.html' %}
    {% include 'toomanydaves/backstory/_projects.html' %}
    {% include 'toomanydaves/backstory/_conclusion.html' %}
    <div class="container pt-2 mb-2">
        <div class="row">
            <div class="col-12">
                <section>
                    <h5>
                        Sean
                        <a
                            class="tooltip-target"
                            href="#tooltip-title"
                            data-toggle="tooltip"
                            data-placement="top"
                            data-html="true"
                            title="<span><em>Jacke, wie Hose</em> &#124;
                            Jacket, like pants
                            <span class=&quot;long-dash-before&quot;>
                            an expression meaning,
                            same difference.</span>
                            <em>Jacke</em> (YA`kuh) is the German word for jacket,
                            and my last name since I got married.
                            I used to be Weiner
                            <span class=&quot;long-dash-before&quot;>
                            a name I always had difficulty appreciating,</span>
                            while being envious of those
                            in my family capable of not taking themselves so seriously,
                            who embrace Weiner.
                            For instance, my step-mother, her maiden name is Imoe Godfrey.
                            She married my dad and, I'm not kidding,
                            willingly became Imoe Weiner.
                            </span>"
                        >Jacke</a>
                    </h5>
                </section>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip()
    });
</script>
{% endblock %}
