<div class="jumbotron text-light join-bg">
    <h4>
        Fortunately life presents us with countless opportunities
        to exercise our creativity.
    </h4>
    <p>
        Unfortunately, <a
            class="tooltip-target"
            href="#tooltip-title"
            data-toggle="tooltip"
            data-placement="top"
            data-html="true"
            title="<span><a href=&quot;/about#tab=poem&quot;
            target=&quot;_blank&quot;>Read the poem</a>...</span>"
        >as in the naming of the Daves</a>,
        these too often go squandered...
    </p>
    <p>
        <span class="lead">
            <span class="long-dash-after">Don't let that happen</span> join us!
        </span>
    </p>
</div>
