<div
    id="join"
    class="tab-pane fade show active"
    role="tabpanel"
    aria-labelledby="join-tab"
>
    <div class="container">
        <div class="row justify-content-between">
            {% if not user.is_authenticated %}
            <div class="col-12 col-lg-5 order-lg-7">
                <div class="jumbotron">
                    <h3>
                        Login or register
                    </h3>
                    <p>
                        Use a <a href="{% url 'social:begin' 'facebook' %}">Facebook</a>
                        (or <a href="{% url 'social:begin' 'github' %}">GitHub</a>)
                        account,<br>
                        or <button type="submit" disabled>submit</button>
                        <input placeholder="your email address">
                    </p>
                </div>
            </div>
            {% endif %}
            <div class="col-12 col-lg-6 order-lg-1">
                <div
                    style="/* color: #bd081c !important; */"
                    class="jumbotron text-light join-bg"
                >
                    <h4>
                        Fortunately life presents us with countless opportunities
                        to exercise our creativity.
                    </h4>
                    <p>
                        Unfortunately, <a
                            class="tooltip-target"
                            href="#tooltip-title"
                            data-toggle="tooltip"
                            data-placement="top"
                            data-html="true"
                            title="<span><a href=&quot;/about#tab=poem&quot;
                            target=&quot;_blank&quot;>Read the poem</a>...</span>"
                        >as in the naming of the Daves</a>,
                        these too often go squandered...
                    </p>
                    <p>
                        <span class="lead">
                            <span class="long-dash-after">Don't let that happen</span> join us.
                        </span><br>
                        Together we'll make a difference.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
