{% extends "toomanydaves/base.html" %}

{% load static %}

{% block title %}Join Too Many Daves{% endblock %}

{% block style %}
<style>
.nav-tabs {
    margin-bottom: 1rem;
}
.join-bg {
    background-position: 50% 25%;
    background-size: cover;
    background-image: url(https://i.pinimg.com/564x/35/1d/a7/351da74625e7574d0392ad5cfc919669.jpg);
    text-shadow: 0 0 30px black;
}
</style>
{% endblock %}

{% block content %}
<div id="engage-page">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <ul id="engage-page-tabs" class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a
                            id="join-tab"
                            class="nav-link active"
                            data-toggle="tab"
                            href="#join"
                            role="tab"
                            aria-controls="join"
                        >Join us</a>
                    </li>
                    <li class="nav-item">
                        <a
                            id="project-work-tab"
                            class="nav-link"
                            data-toggle="tab"
                            href="#project-work"
                            role="tab"
                            aria-controls="project-work"
                        >Work on a Project</a>
                    </li>
                    <li class="nav-item">
                        <a
                            id="donations-tab"
                            class="nav-link"
                            data-toggle="tab"
                            href="#donations"
                            role="tab"
                            aria-controls="donations"
                        >Donations</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="engage-page-tab-content" class="tab-content">
        {% include "toomanydaves/engage_join.html" %}
        {% include "toomanydaves/engage_project-work.html" %}
        {% include "toomanydaves/engage_donations.html" %}
    </div>
</div>
{% endblock %}
