<div
    id="donations"
    class="tab-pane fade"
    role="tabpanel"
    aria-labelledby="donations-tab"
>
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-9 col-xl-12">
                <div class="row">
                    <div class="col-12 col-xl-6">
                        <h4>
                            <em class="brand">Too Many Daves</em>
                            is free and open<span class="long-dash-before">and
                            always will be</span>
                        </h4>
                        <div class="text-serif">
                            <p>
                                In the proud tradition of Unix and Wikipedia,
                                and like the software it's built on,
                                <em class="brand">Too Many Daves</em> adheres to the tenets of
                                <a
                                    href="https://github.com/toomanydaves/django-proj"
                                    target="_blank"
                                >Open Source</a>.
                                It has no investors to be beholden to
                                nor any revenue streams it depends on.
                                It is simply the happy result of a vision
                                plus the ongoing and cumulative efforts of
                                like-minded individuals contributing
                                their time, energy, passion and expertise in pursuit of progress
                                and support of the creative process.
                            </p>
                        </div>
                    </div>
                    <div class="col-12 col-xl-6">
                        <h4>
                            This notwithstanding, it still needs some money to function
                        </h4>
                        <div class="text-serif pb-3">
                            <p>
                                Though the point is to use,
        <!--
                                <a
                                    class="tooltip-target"
                                    href="#tooltip-title"
                                    data-toggle="tooltip"
                                    data-placement="top"
                                    data-html="true"
                                    title="<span>TODO ADD TOOLTIP</span>"
                                >contribute to</a>, and <a
                                    class="tooltip-target"
                                    href="#tooltip-title"
                                    data-toggle="tooltip"
                                    data-placement="top"
                                    data-html="true"
                                    title="<span>TODO ADD TOOLTIP</span>"
                                >credit</a>
        -->
                                contribute to and credit
                                open and free tools wherever possible,
        <!--
                                <em class="brand">Too Many Daves</em>
                                still has <a
                                    class="tooltip-target"
                                    href="#tooltip-title"
                                    data-toggle="tooltip"
                                    data-placement="top"
                                    data-html="true"
                                    title="<span>TODO ADD TOOLTIP</span>"
                                >some unavoidable operating costs</a>.
                                It would also like to pursue <a
                                    class="tooltip-target"
                                    href="#tooltip-title"
                                    data-toggle="tooltip"
                                    data-placement="top"
                                    data-html="true"
                                    title="<span>TODO ADD TOOLTIP</span>"
                                >the occasional bricks-and-mortar initiative
                                deemed worth spending money on</a>.
        -->
                                and in general, to keep expenses to a minimum,
                                <em class="brand">Too Many Daves</em>
                                still has some unavoidable operating costs,
                                as well as the want to sponsor
                                the occasional brick-and-mortar initiative.
                                So if you happen to be in the position
                                to{% if not user.is_authenticated %}&nbsp;(in
                                addition to <a   
                                    href="#tab=sign-up"
                                >signing up</a>){% endif %},
                                by making a donation you are helping us stay independent and
                                be able to better fulfill our mission, regardless of amount
                                <span class="long-dash-before long-dash-before">
                                    even if it's just for a cup of coffee.
                                </span>
                            </p>
                        </div>
                        <p class="text-right">
                            <a
                                class="btn btn-primary btn-lg disabled"
                                href="#"
                                role="button"
                                disabled
                            >Make a donation</a><br>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
