{% extends "toomanydaves/base.html" %}

{% block style %}
<style>
    .home-bg {
        background-size: cover;
        background-image: url(https://i.pinimg.com/564x/d6/e4/12/d6e41292172d45dd058c5051d1d9776e.jpg);
        height: 380px;
        text-shadow: 0 0 30px black;
        background-repeat: repeat;
    }
</style>
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="row logo">
            <div class="col-lg-12">
                <div class="jumbotron text-light home-bg h-10">
                    <h2>Too Many Daves</h2>
                    <h4>Think big. Start small. Keep at it.</h4>
                </div>
            </div>
        </div>
   </div>
{% endblock %}
