<div
    id="project-work"
    class="tab-pane fade"
    role="tabpanel"
    aria-labelledby="project-work-tab"
>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h4>
                    You want to contribute to an individual project?
                </h4>
                <p class="lead">
                    Fantastic! Projects are always looking for help.
                </p>
                <div class="text-serif">
                    <p>
                        Most projects are actively searching for volunteers
                        and some for new talent to join their teams.
                        Typically they will provide information about what they need
                        and how to contact them directly on their website.
                        This should be your first recourse.
                    </p>
                    <p>
                        However if you're a member of <em class="brand">Too Many Daves</em>,
                        you may also want to contact other members
                        affliated with the project directly through the site.
                        (If you're not,
                        it's probably a good time to <a href="#tab=sign-up">join</a>!)
                    </p>
                    <p>
                        When you're ready, go to the project in the portfolio and
                        you should be able to find the information you need.<br>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
