<div
    id="donations"
    class="tab-pane fade"
    role="tabpanel"
    aria-labelledby="donations-tab"
>
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-9 text-sans-serif-headings">
                <h4>
                    <em class="brand">Too Many Daves</em>
                    is free and open to anyone who wishes to join
                    <span class="long-dash-before">
                        and always will be!
                    </span>
                </h4>
                <div class="text-serif">
                    <p>
                        <span class="lead">
                            At this point,
                            <em class="brand">Too Many Daves</em>
                            is an open book.
                        </span>
                        It has no investors or other hidden entities clamouring for control
                        nor any significant revenue streams it depends on.
                        It is simply the happy result of good will and the dogged work of
                        like-minded individuals sharing
                        their time, energy and expertise in the name of progress.
                    </p>
                    <p>
                        Like the software it's built on<sup><small><a
                            href="#join-page-footnote-1"
                        >[1]</a></small></sup>,
                        it exists proudly in
                        <a
                            href="https://github.com/toomanydaves/django-proj"
                            target="_blank"
                        >the tradition of open-source</a>.
                    </p>
                    <p>
                        Though we make it a point to use (and credit<sup><small><a
                            href="#join-page-footnote-2"
                        >[2]</a></small></sup>)
                        open and free tools wherever possible,
                        <em class="brand">Too Many Daves</em>
                        still has some unavoidable operating costs<sup><small><a
                            href="#join-page-footnote-3"
                        >[3]</a></small></sup>
                        and will pursue the occasional initiative
                        deemed worth spending money on<sup><small><a
                            href="#join-page-footnote-4"
                        >[4]</a></small></sup>.
                    </p>
                    <p>
                        So if you happen to be in the position to,
                        <a href="#tab=sign-up">in addition to signing up</a>,
                        you can certainly
                        <b>help us better fulfill our mission by contributing to our war chest</b>.
                    </p>
                    <p>
                        Regardless of amount
                        <span class="long-dash-before long-dash-after">
                            even if it's just for a cup of coffee
                        </span>
                        donations are always greatly appreciated,
                        and will be recognized<sup><small><a
                            href="#join-page-footnote-5"
                        >[5]</a></small></sup> and put to good use!
                    </p>
                </div>
                <p>
                    <a
                        class="btn btn-primary btn-lg disabled"
                        href="#"
                        role="button"
                        disabled
                    >Make a donation</a><br>
                    <small>
                        (Unfortunately accepting donations is still a work in progress,
                        please check back at a later date)
                    </small>
                </p>
            </div>
        </div>
    </div>
</div>
