<div
    id="sign-up"
    class="tab-pane fade show active"
    role="tabpanel"
    aria-labelledby="sign-up-tab"
>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h4>
                    Fortunately life presents us with countless opportunities
                    to exercise our creativity.
                </h4>
                <p class="lead">
                    Unfortunately
                    <span class="long-dash-before long-dash-after">
                        as in the naming of the Daves
                    </span>
                    these too often go squandered.<br>
                    Help change that!
                </p>
                <h5 class="text-sans-serif">
                    <span class="long-dash-after">
                        It couldn't be easier to support and be part of
                        <em class="brand">Too Many Daves</em>
                    </span>
                    all you have to do is register
                </h5>
                <p>
                    You can choose either to register directly<br>
                    with an existing
                    <a href="{% url 'social:begin' 'facebook' %}">Facebook</a>
                    (or <a href="{% url 'social:begin' 'github' %}">GitHub</a>)
                    account,<br>
                    or simply <button type="submit" disabled>submit</button>
                    <input placeholder="an email address">
                </p>
                <p>
                    We look forward to welcoming you aboard!
                </p>
            </div>
        </div>
    </div>
</div>
