<script type="text/javascript">
    var bgImages = [
        {
            //Wire Hangers
            url: 'url(https://s-media-cache-ak0.pinimg.com/originals/05/62/57/056257690b3027178dd7058558390ce6.gif)',
            duration: 6500
        },
        {
            //Pinwheel
            url: 'url(https://s-media-cache-ak0.pinimg.com/originals/90/2a/a7/902aa72e018e6eb6a951a0d70fbffb00.gif)',
            duration: 2500
        },
        {
            //Han Solo
            url: 'url(https://s-media-cache-ak0.pinimg.com/originals/86/52/b1/8652b1162e9dd69083d99f14cce52bbd.gif)',
            duration: 2200
        },
        {
            //Superman
            url: 'url(https://s-media-cache-ak0.pinimg.com/originals/d6/e6/be/d6e6be7a706e8920b9471d9b12340cc1.gif)',
            duration: 2000
        }
    ];
    var bgImage = bgImages[Math.floor(Math.random() * bgImages.length)];

    $('body').css('background-image', bgImage.url);

    $(document).ready(function () {
        $('#centered-logo').css('visibility', 'visible');
        $('body').addClass('text-white');

        window.setTimeout(function () {
            $('body')
            .removeClass('text-white')
            .addClass('text-dark')
            .velocity({'background-color': '#fff'}, 700, function () {
                window.setTimeout(function () {
                    $('.think-big').addClass('text-dark');
                    window.setTimeout(function () {
                        $('.start-small').addClass('text-dark');
                        window.setTimeout(function () {
                            $('.keep-at-it').addClass('text-dark');
                            $('#centered-logo .logo-claim').removeClass('text-white');
                            window.setTimeout(function () {
                                //colorFlow($('#logo g g'), function () {
                                fallDown($('#centered-logo rect'), function () {
                                    window.setTimeout(function () {
                                        $('#centered-logo .svg-logo').velocity(
                                            { height: 0 },
                                            500,
                                            function () {
                                                $('.navbar-brand span').velocity(
                                                    { opacity: 0 },
                                                    280
                                                );
                                                $('#inline-logo').fadeIn();
                                            }
                                        );
                                        $('#centered-logo .logo-claim').fadeOut(450);
                                    }, 500);
                                });
                            }, 200);
                        }, 700);
                    }, 700);
                }, 1000);
            });
        }, bgImage.duration);

        window.setTimeout(function () {
            $('body').css('background-image', 'none');
        }, bgImage.duration);
    });
</script>
