<style>
    #too { fill: rgba(255, 0, 0, 0.5); }
    #many { fill: rgba(255, 0, 0, 0.5); }
    #daves { fill: rgba(255, 0, 0, 0.5); }
</style>
<svg version="1.1" width="600" height="480" xmlns="http://www.w3.org/2000/svg">
    <g id="too">
        <g id="too-t__">
            <rect
                x="0" y="0"
                width="120" height="40"
            />
            <rect
                x="40" y="0"
                width="40" height="160"
            />
        </g>
        <g id="too-_o_">
            <rect
                x="120" y="0"
                width="80" height="120"
            />
            <rect
                x="160" y="40"
                width="80" height="120"
            />
        </g>
        <g id="too-__o">
            <rect
                x="240" y="0"
                width="80" height="120"
            />
            <rect
                x="280" y="40"
                width="80" height="120"
            />
        </g>
    </g>
    <g id="many">
        <g id="many-m___">
            <rect
                x="0" y="160"
                width="40" height="160"
            />
            <rect
                x="0" y="160"
                width="120" height="40"
            />
            <rect
                x="80" y="200"
                width="80" height="40"
            />
            <rect
                x="120" y="200"
                width="40" height="120"
            />
        </g>
        <g id="many-_a__">
            <rect
                x="160" y="200"
                width="40" height="120"
            />
            <rect
                x="160" y="240"
                width="120" height="40"
            />
            <rect
                x="200" y="160"
                width="80" height="40"
            /> 
            <rect
                x="240" y="160"
                width="40" height="160"
            /> 
        </g>
        <g id="many-__n_">
            <rect
                x="280" y="160"
                width="40" height="160"
            /> 
            <rect
                x="280" y="160"
                width="80" height="40"
            /> 
            <rect
                x="360" y="200"
                width="40" height="120"
            /> 
        </g>
        <g id="many-___y">
            <rect
                x="400" y="160"
                width="40" height="80"
            /> 
            <rect
                x="440" y="240"
                width="40" height="80"
            /> 
            <rect
                x="480" y="160"
                width="40" height="80"
            /> 
        </g>
    </g>
    <g id="daves">
        <g id="daves-d____">
            <rect
                x="0" y="320"
                width="40" height="160"
            />
            <rect
                x="0" y="320"
                width="80" height="40"
            />
            <rect
                x="80" y="360"
                width="40" height="80"
            />
            <rect
                x="0" y="440"
                width="80" height="40"
            />
        </g>
        <g id="daves-_a___">
            <rect
                x="120" y="360"
                width="40" height="120"
            />
            <rect
                x="160" y="320"
                width="80" height="40"
            />
            <rect
                x="160" y="400"
                width="80" height="40"
            />
            <rect
                x="200" y="320"
                width="40" height="160"
            />
        </g>
        <g id="daves-__v__">
            <rect
                x="240" y="320"
                width="40" height="160"
            />
            <rect
                x="240" y="400"
                width="80" height="40"
            />
            <rect
                x="320" y="320"
                width="40" height="80"
            />
        </g>
        <g id="daves-___e_">
            <rect
                x="360" y="400"
                width="40" height="80"
            />
            <rect
                x="360" y="440"
                width="120" height="40"
            />
            <rect
                x="400" y="320"
                width="40" height="80"
            />
            <rect
                x="400" y="320"
                width="80" height="40"
            />
        </g>
        <g id="daves-____s">
            <rect
                x="480" y="320"
                width="120" height="40"
            />
            <rect
                x="480" y="360"
                width="80" height="40"
            />
            <rect
                x="480" y="440"
                width="120" height="40"
            />
            <rect
                x="560" y="400"
                width="40" height="80"
            />
        </g>
    </g>
</svg>
