{% load static %}

<style>
.carousel-indicators {
    top: 70px;
}
.carousel-indicators li {
    cursor: pointer;
}
.carousel-slide {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 560px;
}
.carousel-caption {
    top: 4px;
    bottom: auto;
}
.carousel-control-next,
.carousel-control-prev {
    bottom: auto;
    top: 50%;
    width: 36px;
    margin-bottom: 1rem;
}
#home-about .jumbotron {
    background-color: inherit;
    border-radius: 0;
    padding-left: 7%;
    padding-right: 7%;
    text-shadow: 0 0 30px #333;
    height: 550px;
}
#portfolio-slide {
    background-position: 50% 25%;
    background-image: url({% static "/images/biggie-color-shift.jpg" %});
}
#poem-slide {
    background-image: url(https://i.pinimg.com/564x/f9/9d/37/f99d378f2bd308d0285965f29d86adb9.jpg);
}
#mission-slide {
    background-image: url(https://i.pinimg.com/564x/96/ca/0d/96ca0d0c78e2a7001ce9a023138a83e2.jpg)
}
#network-slide {
    background-position: 50% 5%;
    background-image: url({% static "/images/alexander_girard.jpg" %});
}
#journey-slide {
    background-position: 50% 75%;
    background-image: url(https://i.pinimg.com/564x/09/be/43/09be43c29b5d70fd751e33118f6d1fa3.jpg);
}
#feeling-slide {
    background-position: 50% 75%;
    background-image: url(https://media.giphy.com/media/13Du5h3YBSt7Dq/giphy.gif);
}
#project-slide {
    background-position: 50% 75%;
    background-image: url(https://i.pinimg.com/564x/b6/ed/b9/b6edb9bebc09460767c33ff771b871db.jpg);
}
</style>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div
                id="about-carousel"
                class="carousel slide"
                data-ride="carousel"
                data-interval="12000"
            >
                <ol class="carousel-indicators">
                    <li
                        class="active"
                        data-target="#about-carousel"
                        data-slide-to="0"
                    ></li>
                    <li data-target="#about-carousel" data-slide-to="1"></li>
                    <li data-target="#about-carousel" data-slide-to="2"></li>
                    <li data-target="#about-carousel" data-slide-to="3"></li>
                    <li data-target="#about-carousel" data-slide-to="4"></li>
                    <li data-target="#about-carousel" data-slide-to="5"></li>
                    <li data-target="#about-carousel" data-slide-to="6"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        {% include "../about/carousel/_portfolio.html" %}
                    </div>
                    <div class="carousel-item">
                        {% include "../about/carousel/_poem.html" %}
                    </div>
                    <div class="carousel-item">
                        {% include "../about/carousel/_mission.html" %}
                    </div>
                    <div class="carousel-item">
                        {% include "../about/carousel/_network.html" %}
                    </div>
                    <div class="carousel-item">
                        {% include "../about/carousel/_journey.html" %}
                    </div>
                    <div class="carousel-item">
                        {% include "../about/carousel/_feeling.html" %}
                    </div>
                    <div class="carousel-item">
                        {% include "../about/carousel/_project.html" %}
                    </div>
                </div>
                <a
                    class="carousel-control-prev align-items-end"
                    href="#about-carousel"
                    role="button"
                    data-slide="prev"
                >
                    <span
                        class="carousel-control-prev-icon"
                        aria-hidden="true"
                    ></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a
                    class="carousel-control-next align-items-end"
                    href="#about-carousel"
                    role="button"
                    data-slide="next"
                >
                    <span
                        class="carousel-control-next-icon"
                        aria-hidden="true"
                    ></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</div>
