<div id="dashboard-posts" class="container">
    <div class="row text-sans-serif-headings">
        <div class="col-12 col-lg-6">
            <h3>Posts</h3>
            {% for post in published_list %}
                <div class="mt-2 mb-2">
                    <h6>Published: {{ post.published_at }}</h6>
                    {% if post.cover_photo %}
                        <img
                            style="
                            max-width: 50%;
                            max-height: 200px;
                            "
                            src="{{ post.cover_photo.url }}"
                        >
                    {% endif %}
                    {% if post.title %}
                        <h4>{{ post.title }}</h4>
                    {% endif %}
                    <div>{{ post.content }}</div>
                </div>
            {% empty %}
                <p>You haven't posted anything yet...</p>
            {% endfor %}
        </div>
        <div class="col-12 col-lg-6">
                <h3>Drafts</h3>
                <p>
                    <button
                        type="button"
                        class="btn btn-primary"
                        data-toggle="modal"
                        data-target="#new-draft-editor-modal"
                    >New Draft</button>
                </p>
                {% for draft in draft_list %}
                    <div class="mt-2 mb-2">
                        {% if draft.cover_photo %}
                            <img alt="PHOTO">
                        {% endif %}
                        {% if draft.title %}
                            <h6>draft.title</h6>
                        {% endif %}
                        <div>{{ draft.content }}</div>
                    </div>
                {% empty %}
                    <p>
                        Start by creating a draft.<br>
                        We'll save it for as long as you'd like.</br>
                        When you're ready, post it!
                    </p>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
