<div class="logo">
    <svg
        class="svg-logo"
        version="1.1"
        width="300" height="240"
        xmlns="http://www.w3.org/2000/svg"
    >
        <g id="too">
            <g id="too-t__">
                <rect
                    x="0" y="0"
                    width="60" height="20"
                />
                <rect
                    x="20" y="0"
                    width="20" height="80"
                />
            </g>
            <g id="too-_o_">
                <rect
                    x="60" y="0"
                    width="40" height="60"
                />
                <rect
                    x="80" y="20"
                    width="40" height="60"
                />
            </g>
            <g id="too-__o">
                <rect
                    x="120" y="0"
                    width="40" height="60"
                />
                <rect
                    x="140" y="20"
                    width="40" height="60"
                />
            </g>
        </g>
        <g id="many">
            <g id="many-m___">
                <rect
                    x="0" y="80"
                    width="20" height="80"
                />
                <rect
                    x="0" y="80"
                    width="60" height="20"
                />
                <rect
                    x="40" y="100"
                    width="40" height="20"
                />
                <rect
                    x="60" y="100"
                    width="20" height="60"
                />
            </g>
            <g id="many-_a__">
                <rect
                    x="80" y="100"
                    width="20" height="60"
                />
                <rect
                    x="80" y="120"
                    width="60" height="20"
                />
                <rect
                    x="100" y="80"
                    width="40" height="20"
                /> 
                <rect
                    x="120" y="80"
                    width="20" height="80"
                /> 
            </g>
            <g id="many-__n_">
                <rect
                    x="140" y="80"
                    width="20" height="80"
                /> 
                <rect
                    x="140" y="80"
                    width="40" height="20"
                /> 
                <rect
                    x="180" y="100"
                    width="20" height="60"
                /> 
            </g>
            <g id="many-___y">
                <rect
                    x="200" y="80"
                    width="20" height="40"
                /> 
                <rect
                    x="220" y="120"
                    width="20" height="40"
                /> 
                <rect
                    x="240" y="80"
                    width="20" height="40"
                /> 
            </g>
        </g>
        <g id="daves">
            <g id="daves-d____">
                <rect
                    x="0" y="160"
                    width="20" height="80"
                />
                <rect
                    x="0" y="160"
                    width="40" height="20"
                />
                <rect
                    x="40" y="180"
                    width="20" height="40"
                />
                <rect
                    x="0" y="220"
                    width="40" height="20"
                />
            </g>
            <g id="daves-_a___">
                <rect
                    x="60" y="180"
                    width="20" height="60"
                />
                <rect
                    x="80" y="160"
                    width="40" height="20"
                />
                <rect
                    x="80" y="200"
                    width="40" height="20"
                />
                <rect
                    x="100" y="160"
                    width="20" height="80"
                />
            </g>
            <g id="daves-__v__">
                <rect
                    x="120" y="160"
                    width="20" height="80"
                />
                <rect
                    x="120" y="200"
                    width="40" height="20"
                />
                <rect
                    x="160" y="160"
                    width="20" height="40"
                />
            </g>
            <g id="daves-___e_">
                <rect
                    x="180" y="200"
                    width="20" height="40"
                />
                <rect
                    x="180" y="220"
                    width="60" height="20"
                />
                <rect
                    x="200" y="160"
                    width="20" height="40"
                />
                <rect
                    x="200" y="160"
                    width="40" height="20"
                />
            </g>
            <g id="daves-____s">
                <rect
                    x="240" y="160"
                    width="60" height="20"
                />
                <rect
                    x="240" y="180"
                    width="40" height="20"
                />
                <rect
                    x="240" y="220"
                    width="60" height="20"
                />
                <rect
                    x="280" y="200"
                    width="20" height="40"
                />
            </g>
        </g>
    </svg>
</div>
