{% extends "toomanydaves/base.html" %}

{% block title %}Projects{% endblock %}

{% block content %}
    <div id="projects" class="container">
        <div class="row">
            {% for project in project_list %}
                <div class="col-12">
                    <h4>
                        <a href="/portfolio/projects/{{ project.id }}">{{ project }}</a>
                    </h4>
                    <p>
                        <a
                            href="{{ project.url }}" 
                            target="_blank"
                        >{{ project.url }}</a>
                    </p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
