<style>
    body {
        background-color: #fff;
        background-position: center center;
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
    }
    #inline-logo {
        transform-origin: top left;
        transform: scale(0.3);
    }
    .navbar-toggler {
        color: #007bff;
        cursor: pointer;
        padding: 0;
        line-height: inherit;
    }
    .navbar-toggler:hover {
        color: #0056b3;
    }
    .navbar-nav .nav-link {
        padding-right: .5rem;
        padding-left: .5rem;
    }
    .navbar-collapse.show .dropdown-menu {
        margin-bottom: 1rem;
    }
    g#too { fill: rgba(241, 68, 61, 0.5); }
    g#many { fill: rgba(241, 68, 61, 0.5); }
    g#daves { fill: rgba(241, 68, 61, 0.5); }
</style>
{% include "toomanydaves/logo/_api.html" %}
<nav class="d-flex justify-content-between" style="position: fixed; padding: .5rem;">
    <a href="/">
        <div id="inline-logo" style="position: absolute;">
            {% include "toomanydaves/logo/_inline.html" %}
        </div>
    </a>
    <ul class="navbar-nav ml-auto flex-row">
        <li class="nav-item">
            <a 
                class="nav-link"
                href="http://facebook.com/toomanydaves.net"
                target="_blank"
            ><i class="icon-facebook"></i></a>
        </li>
        {% if request.user.is_authenticated %}
        <li class="nav-item dropdown text-nowrap">
            <a
                class="nav-link dropdown-toggle"
                data-toggle="dropdown"
                href="#"
                role="button"
                aria-haspopup="true"
                aria-expanded="false"
            >{{ user.first_name }}</a>
            <div class="dropdown-menu dropdown-menu-right">
                {% if user.is_staff %}
                    <a class="dropdown-item" href="/admin">Admin</a>
                {% endif %}
                <a class="dropdown-item" href="/network/dashboard">Dashboard</a>
                <a class="dropdown-item" href="/logout">Log out</a>
            </div>
        </li>
        {% else %}
        <li class="nav-item">
            <a 
                class="nav-link btn btn-sm btn-outline-primary"
                role="button"
                href="/engage"
            >
                <span>Join</span>
            </a>
        </li>
        {% endif %}
    </ul>
</nav>
{% include "toomanydaves/logo/inline/_animation.html" %}
