<style>
    #teaser-peeps .card {
        background: none;
        border: none;
        cursor: pointer;
    }
</style>
<div id="teaser-peeps" style="height: 220px;">
    <div style="
        height: 220px;
        position: absolute;
        width:100%;
        right: 0;
        padding: 0 15px;
    ">
        <div style="
            position: relative;
            overflow: hidden;
            width: 100%;
            height: 220px;
        ">
            <img
                id="peeps-pattern-bg"
                src="https://i.pinimg.com/564x/c0/a9/d7/c0a9d73d526d03c4478907a5a418930d.jpg"
                style="
                    position: absolute;
                    min-height: 220px;
                    min-width: 100%;
                    opacity: 0;
                "
            />
            <img id="peeps-photo-bg" style="min-height: 220px; min-width: 100%; opacity: 0.7;" />
        </div>
    </div>
    <div class="dot-matrix-bg">
        <div style="
            height: 100%;
            background-color: rgba(130, 133, 165, 0.3);
            position: relative;
        ">
            <div id="peeps-body" style="display: none; opacity: 0; height: 100%;">
                <div id="peeps-scroller" style="
                    position: absolute;
                    top: 72px;
                    height: 148px;
                    overflow: scroll;
                ">
                    {% if user_list %}
                    <div
                        class="card-columns"
                        style="
                            padding: 0 1rem 6rem 1rem;
                            column-count: 4;
                        "
                    >
                        {% for user in user_list %}
                        <div
                            style="width: 100%; height: 100%;"
                            onmouseenter="return flip(event);"
                        > 
                            <div
                                id="/people/{{ user.id }}"
                                class="card peeps-card"
                                style="
                                    position: relative;
                                    height: 100%;
                                    width: 100%;
                                "
                            >
                                <div class="card-face">
                                    <img
                                        src="https://i.pinimg.com/564x/96/ca/0d/96ca0d0c78e2a7001ce9a023138a83e2.jpg"
                                        style="width: 100%;"
                                    >
                                </div>
                                <div
                                    class="card-face back-face"
                                    style="
                                        position: absolute;
                                        top: 0;
                                        left: 0;
                                        width: 100%;
                                        height: 100%;
                                        padding: 2px;
                                    "
                                >
                                    <h6
                                        class="text-dark text-sans-serif"
                                        style="
                                            position: absolute;
                                            top: 50%;
                                            left: 0;
                                        "
                                    >
                                        <small class="text-uppercase">{{ user }}</small>
                                    </h6>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    {% endif %}
                    <div style="padding: 0 1rem 0.8rem 1rem;">
                        <h3 class="text-sans-serif">
                            The power of any creation resides in the extent
                            to which it can be shared.
                        </h3>
                        <div style="padding: 1rem 0 0 0;">
                            <a
                                class="btn btn-lg btn-outline-light"
                                href="/people"
                                role="button"
                            >Cross Paths</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h1
            style="
                position: absolute;
                top: 10px;
                opacity: 0;
                font-size: 3rem;
                padding-left: 1rem;
                width: 100%;
            "
            class="js-teaser-section-heading"
        >
            <a class="text-white text-fat-serif d-inline d-sm-none"  href="/people">Peeps</a>
            <a class="text-white text-cursive d-none d-sm-inline"  href="/people">Peeps</a>
        </h1>
    </div>
</div>
