<style>
    #teaser-portfolio .card {
        background-color: rgba(255, 140, 140, 0.1);
        border: none;
        cursor: pointer;
    }
</style>
<div
    id="teaser-portfolio"
    style="height: 596px; margin-bottom: 1rem"
>
    <div style="
        height: 596px;
        width: 100%;
        padding: 0 15px;
        position: absolute;
        right: 0;
    ">
        <div
            style="
            position: relative;
            height: 596px;
            width: 100%;
            overflow: hidden;
            "
        >
            <img
                id="portfolio-pattern-bg"
                src="https://i.pinimg.com/564x/c0/a9/d7/c0a9d73d526d03c4478907a5a418930d.jpg"
                style="
                    position: absolute;
                    min-height: 596px;
                    min-width: 100%;
                    opacity: 0;
                "
            />
            <img
                id="portfolio-photo-bg"
                style="
                    position: absolute;
                    min-height: 596px;
                    min-width: 100%;
                    opacity: 0.7;
                "
            />
        </div>
    </div>
    <div class="dot-matrix-bg">
        <div
            style="
                height: 596px;
                background-color: rgba(208, 46, 46, 0.2);
                position: relative;
            "
        >
            <div id="portfolio-body" style="display: none; opacity: 0;">
                <div
                    id="portfolio-scroller"
                    style="
                        position: absolute;
                        top: 72px;
                        height: 524px;
                        overflow: scroll;
                    "
                >
                    {%if project_list %}
                    <style>
                        #teaser-portfolio .card-columns {
                            padding: 0 1rem 10rem 1rem;
                            column-count: 1;
                        }

                        @media (min-width: 576px) {
                            #teaser-portfolio .card-columns {
                                column-count: 2;
                            }
                        }
                    </style>
                    <div class="card-columns">
                        {% for project in project_list %}
                        <div
                            style="width: 100%; height: 100%;"
                            onmouseenter="return flip(event);"
                        > 
                            <div
                                id="/portfolio/projects/{{ project.id }}"
                                class="card portfolio-card text-dark"
                                style="width: 100%; height: 100%; position: relative; margin-bottom: 1rem;"
                            >
                                <div class="card-face">
                                    {% if project.logo %}
                                    <img style="width: 100%;" src="{{ project.logo.url }}" alt="logo">
                                    {% endif %}
                                    {% if project.tags %}
                                    <ul
                                        class="list-inline text-right"
                                        style="margin-top: -2rem; margin-right: 0.5rem;"
                                    >
                                        {% for tag in project.tags.all %}
                                        <li class="list-inline-item">
                                            <a href="/portfolio/?tag={{ tag.id }}">
                                                <span class="badge badge-warning">{{ tag.name }}</span>
                                            </a>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                    {% endif %}
                                    <div class="text-dark" style="padding: 0 0.4rem; margin-top: -0.2rem;">
                                        <h4 class="text-sans-serif">
                                            <span>{{ project }}</span>
                                        </h4>
                                        <h6><span>{{ project.claim }}</span></h6>
                                    </div>
                                </div>
                                <div
                                    class="card-face back-face text-dark"
                                    style="
                                        position: absolute;
                                        top: 0;
                                        left: 0;
                                        width: 100%;
                                        height: 100%;
                                        overflow: hidden;
                                    "
                                >
                                    <h5><small class="text-uppercase"><strong>{{ project.name }}</strong></small></h5>
                                    <h6 style="margin-top: -0.5rem;"><small>{{ project.url }}</small></h6>
                                    <small style="background: rgba(255, 255, 255, 0.8);">
                                        {{ project.description }}
                                    </small>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    {% endif %}
                    <div style="padding: 0 1rem;">
                        <h3 class="text-sans-serif">
                            <span class="long-dash-after">
                                "Genius is one percent inspiration,
                                ninety-nine percent perspiration."
                            </span>
                            Thomas Edison
                        </h3>
                        <div style="padding: 1rem 0; margin-bottom: 23.3rem">
                            <a
                                class="btn btn-outline-light btn-lg"
                                href="/portfolio"
                                role="button"
                            >Explore the Portfolio<a>
                        </div>
                    </div>
                </div>
            </div>
            <h1
                style="
                    position: absolute;
                    top: 10px;
                    opacity: 0;
                    padding-bottom: 1rem;
                    padding-left: 1rem;
                    font-size: 3rem;
                    width: 100%;
                "
                class="js-teaser-section-heading"
            >
                <a class="text-white text-fat-serif" href="/portfolio">
                    <span class="text-cursive d-none d-sm-inline d-lg-none d-xl-inline">A </span>
                    Portfolio
                    <span class="text-cursive d-none d-sm-inline d-lg-none d-xl-inline">of Projects</span>
                </a>
            </h1>
        </div>
    </div>
</div>
<script>
    $('#teaser-portfolio .portfolio-card').click(function(ev) {
        window.location.href = $(this).attr('id');
    });
</script>
