<style>
    #teaser-posts:before {
        background-image: url("data:image/svg+xml;charset=utf8,<svg id='stripe-svg' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'><path d='M-1,1 l2,-2 M0,10 l10,-10 M9,11 l2,-2' stroke='rgb(181, 152, 135)' stroke-width='2' /></svg>");
        background-size: 10px 10px;
        top: 0px;
        right:-7px;
        content: "";
        display: block;
        height: calc(100% - 16px);
        position: absolute;
        width: 22px;
    }
    #teaser-posts .card {
        background: none;
        border: none;
    }
</style>
<div
    id="teaser-posts"
    style="
        height: 360px;
        background-position: center;
        background-radius: 5px;
        background-size: cover;
        margin-bottom: 1rem;
    "
>
    <div style="
        height: 360px;
        width: 100%;
        position: absolute;
        right: 0;
        padding: 0 15px;
    ">
        <div
            style="
            position: relative;
            height: 360px;
            width: 100%;
            overflow: hidden;
            "
        >
            <img
                id="posts-pattern-bg"
                src="https://i.pinimg.com/564x/91/1f/2b/911f2b44584876dd15ea1ff928aeef68.jpg"
                style="
                    position: absolute;
                    min-height: 360px;
                    min-width: 100%;
                    opacity: 0;
                "
            />
            <img
                id="posts-photo-bg"
                style="min-height: 360px; min-width: 100%; opacity: 0.7;"
            />
        </div>
    </div>
    <div class="dot-matrix-bg">
        <div
            style="
                height: 100%;
                background-color: rgba(167, 128, 87, 0.4);
                position: relative;
            "
        >
            <div
                id="posts-scroller"
                style="
                    position: absolute;
                    top: 96px;
                    height: 264px;
                    overflow: scroll;
                    width: 100%;
                "
            >
                <div id="posts-body" style="display: none; opacity: 0;">
                    {%if post_list %}
                    <div
                        class="card-columns"
                        style="
                            padding: 0px 1rem 8rem;
                            column-count: 1
                        "
                    >
                        {% for post in post_list %}
                        <div
                            id="post_{{ post.id }}"
                            class="card"
                        >
                            {% if post.tags.length %}
                            <ul class="list-inline">
                                {% for tag in post.tags.all %}
                                <li class="list-inline-item">
                                    <span class="badge badge-warning">
                                        {{ tag.name }}
                                    </span>
                                </li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                            <div class="post" style="
                                display: inline-block;
                                color: rgba(40, 40, 40, 0.8);
                            ">
                                {% if post.cover_photo %}
                                <img
                                    style="
                                        float: left;
                                        margin-right: 1rem;
                                        max-width: 180px;
                                        vertical-align: top;
                                    "
                                    src="{{ post.cover_photo.url }}"
                                >
                                {% endif %}
                                <h6><small class="text-uppercase">
                                    {{ post.published_at|date:"D d M Y" }}
                                </small></h6>
                                {% if post.title %}
                                <h4 class="text-sans-serif">{{ post.title }}</h4>
                                <p class="text-serif"><span style="background-color: #fff">
                                    {{ post.content }}
                                </span></p>
                                <h6><small><a
                                    class="text-uppercase"
                                    href="/network/peeps/{{ post.written_by.id }}"
                                >{{ post.written_by }}</a></small></h6>
                                {% else %}
                                <p>
                                    <span class="text-serif">{{ post.content }}</span><br>
                                    <small><a
                                        class="text-muted text-uppercase"
                                        href="/network/peeps/{{ post.written_by.id }}"
                                    >{{ post.written_by }}</a></small>
                                </p>
                                {% endif %}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    {% endif %} 
                    <div style="padding: 0 1rem;">
                        <h3 class="text-sans-serif">
                            <span class="long-dash-after">
                                It&apos;s not where you&apos;re at
                            </span><br>
                            It&apos;s how you got there,<br>
                            And where you want to go.
                        </h3>
                        <div style="padding: 1rem 0; margin-bottom: 5.7rem">
                            <a
                                class="btn btn-outline-light btn-lg"
                                href="/blog"
                                role="button"
                            >Reflections Along the Way</a>
                        </div>
                    </div>
                </div>
            </div>
            <div
                style="
                    position: absolute;
                    top: 10px;
                    opacity: 0;
                    padding-left: 1rem;
                    padding-bottom: 1rem;
                    width: 100%;
                "
                class="js-teaser-section-heading"
            >
                <h6 style="margin-bottom: 0;" class="text-uppercase">&gt; Posts from</h6>
                <h1 style="font-size: 3rem; margin-top: -0.3rem;">
                    <a class="text-white text-fat-serif" href="/blog">#theJourney</a>
                </h1>
            </div>
        </div>
    </div>
</div>
