<style>
    #teaser-posts .card {
        background-color: #76c58cbc;
    }
</style>
<div
    id="teaser-posts"
    class="posts photo-bg"
    style="
        height: 360px;
        background-position: center;
        background-radius: 5px;
        background-size: cover;
        margin-bottom: 1rem;
    "
>
    <div class="dot-matrix-bg">
        <div
            style="
                height: 100%;
                background-color: rgba(255, 130, 0, 0.4);
                position: relative;
            "
        >
            <div
                style="
                    position: absolute;
                    top: 5rem;
                    height: 280px;
                    overflow: scroll;
                "
            >
                <div
                    class="card-columns"
                    style="
                        opacity: 0;
                        padding: 0px 1rem 1rem;
                        column-count: 1
                    "
                >
                    {% for post in post_list %}
                    <div
                        id="post_{{ post.id }}"
                        class="card"
                    >
                        <div class="card-body">
                            {% if post.tags.length %}
                            <ul class="list-inline">
                                {% for tag in post.tags.all %}
                                <li class="list-inline-item">
                                    <span class="badge badge-warning">
                                        {{ tag.name }}
                                    </span>
                                </li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                            <div class="post" style="display: inline-block;">
                                {% if post.cover_photo %}
                                    <img
                                        style="
                                            float: left;
                                            margin-right: 1rem;
                                            max-width: 180px;
                                            vertical-align: top;
                                        "
                                        src="{{ post.cover_photo.url }}"
                                    >
                                {% endif %}
                                {% if post.title %}
                                    <h5 class="he text-sans-serif text-dark">{{ post.title }}</h5>
                                    <h6><small><a
                                        class="text-uppercase"
                                        href="{{ post.written_by.url }}"
                                    >{{ post.written_by }}</a></small></h6>
                                    <p class="text-serif text-white">{{ post.content }}</p>
                                {% else %}
                                    <p class="text-white">
                                        <span class="text-serif">{{ post.content }}</span><br>
                                        <small><a
                                            class="text-muted text-uppercase"
                                            href="{{ post.written_by.url }}"
                                        >{{ post.written_by }}</a></small>
                                    </p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <h3 class="text-sans-serif mt-4 mb-3">
                        Posts from the journey...
                    </h3>
                    <div style="margin-bottom: 8rem">
                        <a
                            class="btn btn-outline-light btn-lg"
                            href="/blog"
                            role="button"
                        >Go Back in Time</a>
                    </div>
                </div>
            </div>
            <h1
                style="
                    position: absolute;
                    opacity: 0;
                    padding-left: 1rem;
                    padding-bottom: 1rem;
                    font-size: 4rem;
                    width: 100%;
                "
                class="text-fat-serif"
            >
                <a href="/blog" style="color: #fff;">the Journey</a>
            </h1>
        </div>
    </div>
</div>
