<p>
    The Journal of <a href="/">Too Many Daves</a> is the collaborative, real-time
    account of <a href="/people">its peeps</a>.
</p>
<p>
    Posts are tagged by topic and sortable
    by date, popularity, a combination of both (default), author or tag.
</p>
<p>
    Together they bare witness to the stream of conscious observations
    surrounding Too Many Daves' <a href="/portfolio">portfolio of projects</a>,
    as well as the thoughts, concerns,
    triumphs and challenges of its members.
</p>
