<p>
    <a href="/blog">
        The Journey of <small class="text-uppercase">Too Many Daves</small>
    </a>
    is a collaborative
    accounting of events in real time.
</p>
<p>
    Posts are tagged by topic, sortable
    <a href="#" id="sort-posts-by-date">by date</a>,
    <a href="#" id="sort-posts-by-popularity">popularity</a>,
    <a href="#" id="sort-posts-by-default">a combination of both (default)</a>,
    <a href="#" id="sort-posts-by-author">author</a> or
    <a href="#" id="sort-posts-by-author">tag</a>,
    and may be commented on and shared.
</p>
<p>
    They bare witness to the inspiration,
    revelations, concerns, triumphs and challenges
    of <small class="text-uppercase">Too Many Daves'</small> <a href="/portfolio">projects</a>
    and its <a href="/people">peeps</a>.
</p>
