<div id="backstory">
    <div class="row justify-content-lg-center">
        <div class="col-12">
            <p>
                <span class="lead">Too Many Daves</span> starts with
                <a href="/poem">the cheeky 1961 children's poem by Theodor Geisel</a>.
            </p>
            <p>
                Twenty years ago at <a
                    href="http://www.habibishutch.com/"
                    target="_blank"
                >Habibi's Hutch</a>
                <span class="long-dash-before long-dash-after">
                    a wonderful preschool in Austin, Texas
                </span>
                that poem inspires <a href="/seanjacke">a particular teacher</a>.
            </p>
            <p>
                <a href="/backstory">Read more...</a>
            </p>
        </div>
    </div>
</div>
