<div id="backstory">
    <div class="row justify-content-lg-center">
        <div class="col-12">
            <p>
                <small class="text-uppercase">
                    <a href="/">Too Many Daves</a>
                </small>
                starts with
                <a href="/poem">a cheeky, 1961 children's poem</a>
                by Theodor Geisel.
            </p>
            <p>
                40 years later, at <a
                    href="http://www.habibishutch.com/"
                    target="_blank"
                >Habibi's Hutch</a>,
                a wonderful preschool in Austin, Texas,
                the poem inspires
                <a
                    href="/seanjacke"
                    style="
                        background-image:url('data:image/svg+xml;charset=utf8,%3Csvg id="Squiggle-svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:ev="http://www.w3.org/2001/xml-events" viewBox="0 0 20 4"%3E%3Cpath fill="none" stroke="%23FB6754" stroke-width="1" class="st0" d="M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3"/%3E%3C/svg%3E');
                        background-repeat: repeat-x;
                        background-size: auto 5px;
                    "
                >a young, ambitious teacher</a>.
            </p>
            <p>
                <a href="/backstory">Read more...</a>
            </p>
        </div>
    </div>
</div>
