<div id="backstory">
    <div class="row justify-content-lg-center">
        <div class="col-12">
            <p>
                <small class="text-uppercase">
                    <a href="/">Too Many Daves!</a>
                </small>
                starts with
                <a href="/poem">a cheeky, 1961 children's poem</a>
                by Theodor Geisel.
            </p>
            <p>
                40 years later, at <a
                    href="http://www.habibishutch.com/"
                    target="_blank"
                >Habibi's Hutch</a>,
                a wonderful preschool in Austin, Texas,
                the poem inspires
                <a href="/seanjacke">a young, ambitious teacher</a>.
            </p>
            <p>
                <a href="/backstory">Read more...</a>
            </p>
        </div>
    </div>
</div>
