{% extends 'toomanydaves/base.html' %}

{% block title %}The Journey of Too Many Daves{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="text-sans-serif">The Journey of <em class="brand">Too Many Daves</em></h1>
            <h6><small>A Collaborative Weblog</small></h6>
        </div>
        <div class="col-12">
            <p>This is the <a href="/backstory">backstory</a>.
            <p>This is the <a href="/poem">poem</a>.
        </div>
    </div>
</div>
{% endblock %}
