<div id="blog-editor" class="container">
    <div class="row text-sans-serif-headings">
        <div class="col-12 col-lg-6">
            <h3>Posts</h3>
            <p>You haven't posted anything yet...</p>
        </div>
        <div class="col-12 col-lg-6">
            <h3>Drafts</h3>
            <p>
                Start by creating a draft.<br>
                We'll save it for as long as you'd like.</br>
                When you're ready, post it!
            </p>
            <p>
                <button class="btn btn-primary">New Draft</button>
            </p>
        </div>
    </div>
</div>
